<div class="modal fade" id="modal-manage-brainstorming" tabindex="-1" role="dialog" aria-labelledby="modal-manage-brainstorming" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    <h4 class="col-xs-5" style="padding: 0; margin: 0">
                        <span th:text="#{label.title.risk_information.${type.toLowerCase()}.management}"></span>
                    </h4>
                    <div class="col-xs-7" id="error-risk-information-modal" style="padding: 0"></div>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <span th:text="#{label.action.delete.all.below}"></span>
                <span th:text="#{label.action.delete.chapter}"></span>
                <form action="#" method="post" class="tab-content" style="height: 500px; overflow-y: auto;">
                    <th:block th:each="category : ${riskInformationMap}">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="15%"><span th:text="#{label.risk_information.id}"></span></th>
                                    <th><span th:text="#{label.name}"></span></th>
                                    <th width="12%"><span th:text="#{label.action}"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="riskInformation : ${category.value}">
                                    <span th:text="${riskInformation.label}" th:id="label"></span>
                                    <span th:text="${riskInformation.chapter}" th:id="chapter"></span>
                                    <tr th:data-trick-id="${riskInformation.id}">
                                        <td>
                                            <input type="hidden" name="id" th:value="${riskInformation.id}" />
                                            <input type="hidden" name="custom" th:value="${riskInformation.custom}" />
                                            <input class="form-control" name="chapter" th:value="${chapter}" required="required" th:placeholder="${chapter}" />
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="label" th:value="${label}" th:placeholder="${label}" required="true" />
                                        </td>
                                        <td>
                                            <button class="btn btn-xs btn-warning" name="delete" title="#{label.action.delete}">
                                                <i class="fa fa-times-circle"></i>
                                            </button>
                                            <button class="btn btn-xs btn-danger" name="clear" title="#{label.action.empty.chapter}">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                            <button class="btn btn-xs btn-primary" name="add" title="#{label.action.add}">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                <tr data-role="add-btn">
                                    <td colspan="3" class="text-center">
                                        <button class="btn btn-primary" data-error-full-message="#{error.risk_information.too_many.chapter}"
                                                name="add-chapter" title="#{label.action.add}">
                                            <i class="fa fw fa-plus-circle" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th:block>
                    <input type="submit" hidden="hidden" />
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" name="save">
                    <span th:text="#{label.action.save}"></span>
                </button>
                <button class="btn btn-default" type="button" data-dismiss="modal" name="cancel">
                    <span th:text="#{label.action.close}"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="risk-information-btn" style="display: none;">
        <button class="btn btn-xs btn-warning" name="delete" title="#{label.action.delete}">
            <i class="fa fa-times-circle"></i>
        </button>
        <button class="btn btn-xs btn-danger" name="clear" title="#{label.action.empty.chapter}">
            <i class="fa fa-trash-o"></i>
        </button>
        <button class="btn btn-xs btn-primary" name="add" title="#{label.action.add}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
    </div>
</div>
