<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impact Type</title>
</head>
<body>
    <th:block th:with="impactLanguage=${#strings.toUpperCase(language)}">
        <div th:switch="${not type.quantitative and type.qualitative}">
            <div th:case="true">
                <div class="row">
                    <th:block th:include="~{../probability/likelihood}"></th:block>
                    <th:block th:with="writeIndex=${1}"></th:block>
                </div>
            </div>
            <div th:case="false">
                <th:block th:with="writeIndex=${0}"></th:block>
            </div>
        </div>

        <th:block th:with="writtenDynamic=${false}">
            <div th:each="impactType, status : ${impactTypes}">
                <div th:switch="${impactType.name}">
                    <div th:case="'IMPACT'">
                        <div th:if="${writeIndex % 2 != 0 and status.index == #lists.size(impactTypes) - 1}">
                            <th:block th:include="~{../probability/dynamic}"></th:block>
                            <th:block th:with="writtenDynamic=${true}"></th:block>
                        </div>
                    </div>
                    <div th:case="*">
                        <div th:if="${writeIndex % 2 == 0}">
                            <div class="row">
                        </div>
                        <span th:text="${impactType.name}" th:utext="true" th:attr="id=${impactName}"></span>
                        <th:block th:with="displayName=${impactType.translations[impactLanguage] == null ? impactType.displayName : impactType.translations[impactLanguage].name}"></th:block>
                        <div class="col-sm-6 impact-qualitaitve">
                            <fieldset th:id="'Scale_Impact_' + ${impactName}">
                                <legend>
                                    <span th:text="#{label.title.parameter.impact.name(${displayName}, ${#strings.toLowerCase(displayName)})}"></span>
                                </legend>
                                <table class="table table-hover table-fixed-header-analysis table-condensed">
                                    <thead>
                                        <tr>
                                            <th width="1%" class="textaligncenter" th:text="#{label.parameter.level}"></th>
                                            <th width="20%" class="textaligncenter" th:text="#{label.parameter.label}"></th>
                                            <th data-th-name="qualification" th:text="#{label.parameter.qualification}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div th:each="parameter : ${mappedParameters[impactName]}">
                                            <tr th:data-trick-class="ImpactParameter" th:data-trick-id="${parameter.id}">
                                                <td th:data-trick-field="level" class="textaligncenter" th:text="${parameter.level}"></td>
                                                <td th:data-trick-field="label" th:data-trick-acronym-value="${#strings.escapeXml(parameter.acronym)}" class="textaligncenter" th:text="${parameter.label}"></td>
                                                <td th:data-trick-field="description" th:data-trick-content="text" th:data-trick-field-type="string" class="editable" th:onclick="|return editField(this);|">
                                                    <span th:text="${parameter.description}"></span>
                                                </td>
                                            </tr>
                                        </div>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                        <div th:if="${writeIndex % 2 != 0 or status.index == #lists.size(impactTypes) - 1}">
                            <div th:if="${status.index == #lists.size(impactTypes) - 1}">
                                <th:block th:include="~{../probability/dynamic}"></th:block>
                                <th:block th:with="writtenDynamic=${true}"></th:block>
                            </div>
                        </div>
                        <th:block th:with="writeIndex=${writeIndex + 1}"></th:block>
                    </div>
                </div>
            </div>

            <div th:if="${not writtenDynamic and type.quantitative and showDynamicAnalysis}">
                <div class="row">
                    <th:block th:include="~{../probability/dynamic}"></th:block>
                </div>
            </div>
        </th:block>
    </th:block>
</body>
</html>
