/* Sticky footer styles
-------------------------------------------------- */
html, body {
	height: 96%;
}

body {
	/*min-width: 1400px;*/
	width: auto !important; /* Firefox will set width as auto */
}

/* Wrapper for page content to push down footer */
#wrap {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
	width: 99%;
}

#wrap>.container {
	min-height: 100%;
	margin-top: 50px;
}

.container .credit {
	margin: 20px 0;
}

.nav-analysis, .nav-tab {
	z-index: 1029;
	background-color: white;
	padding-top: 5px;
	max-width: 97.5%;
}

.nav-analysis li.dropdown-submenu.active>a:HOVER {
	cursor: pointer;
}

#footer>.container {
	padding-left: 15px;
	padding-right: 15px;
}

#nav-container, #tab-container {
	margin-top: 50px;
	padding-top: 5px;
}

.nav.bordered-bottom {
	padding-bottom: 5px;
}

.nav.bordered-bottom, .bordered-bottom {
	border-bottom: 1px solid #dddddd;
}

.navbar-custom {
	margin-top: 50px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.progress-info {
	color: #333;
	display: inline-block;
	margin-top: -17px;
	float: left;
	text-align: center;
	font-weight: bold;
	width: 100%;
}

table.dataTable tr.odd td.sorting_1, table.dataTable tr.even td.sorting_1 {
	background-color: #FFFFFF;
}

.actionplanassethidden {
	display: none;
}

.checkboxselectable {
	width: 100%;
	height: 100%;
	position: relative;
}

.checkboxtableheader {
	width: 20px;
}

.anchor {
	display: block;
	height: 100px;
	margin-top: -100px;
	visibility: hidden;
}

/**  table width */
.panelbodydefinition {
	height: 600px;
	overflow: auto;
}

.autofitpanelbodydefinition {
	max-height: 600px;
	overflow: auto;
}

.textaligncenter {
	text-align: center;
}

.tableheader {
	height: 200px;
	margin: 0;
	padding: 0;
}

.tablescrollarea {
	max-height: 500px;
	height: 500px;
	overflow: auto;
	display: block;
	margin-bottom: 0px;
	margin: 0;
	padding: 0;
}

.cellwidth_650 {
	width: 500px;
	overflow: hidden;
	o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.5;
	display: block;
	margin: 0;
	padding: 0;
}

.cellwidth_250 {
	width: 250px;
}

.cellwidth_80 {
	width: 80px;
}

.tablesorter thead tr.tablesorter-filter-row {
	display: none
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
	margin-bottom: 0;
}

.datepicker.datepicker.dropdown-menu {
	z-index: 1001;
}

.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	border-right-width: 2px;
	border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
}

.tt-suggestion:HOVER, .tt-suggestion.tt-is-under-cursor {
	cursor: pointer;
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	color: #fff;
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}

table.floatThead-table {
	border-top: none;
	border-bottom: none;
	background-color: #FFF;
}

.resize_vectical_only {
	resize: vertical;
}

td>pre {
	border: none;
	background-color: inherit;
	color: inherit;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	font-size: inherit;
	margin: 0;
	word-break: normal;
	white-space: pre-line;
}

.popover-content>pre {
	word-break: normal;
}

#buildAnalysisModal .well.well-sm {
	margin-bottom: inherit;
}

.well.warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
	background-image: inherit;
	background-repeat: inherit;
}

.well.danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	background-image: inherit;
	background-repeat: inherit;
}

.well.success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	background-image: inherit;
	background-repeat: inherit;
}

.well.info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
	background-image: inherit;
	background-repeat: inherit;
}

a[role="changeUILanguage"]:hover {
	text-decoration: none;
}

.rrfCharts {
	width: 100% !important;
	padding-bottom: 1px;
}

.tab-content-header {
	margin-top: 0px;
}

.tab-content-header h1, .tab-content-header h2, .tab-content-header h3, .tab-content-header h4, .tab-content-header h5, .tab-content-header h6 {
	margin-top: 10px;
}

.list-group-item.active {
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;
}

#manageAssetMeasureModel .list-group-item:hover {
	background-color: #f5f5f5;
	border-color: #dddddd;
}

ul.asset-measure {
	height: 265px;
	padding: 0px;
	overflow: auto;
	margin: 8px auto 0 auto;
}

ul.asset-measure>li {
	cursor: pointer;
}

#measure_form .slider.slider-vertical {
	height: 310px;
}

#uploadStandardModal .progress {
	max-width: 95%;
	margin-top: 10px;
	margin-bottom: -15px;
	margin-top: 10px;
}

td.selected, .table>tbody>tr.info>td.selected {
	background-color: #dff0d8
}

.table>tbody>tr.warning.info, .table>tbody>tr.warning.info>td {
	background-color: #d9edf7;
}

.table>tbody>tr.danger.info, .table>tbody>tr.danger.info>td {
	background-color: #d9edf7;
}

td.selected, .table>tbody>tr.warning>td.selected {
	background-color: #fcf8e3;
}

td.selected, .table>tbody>tr.danger>td.selected {
	background-color: #f2dede;
}

td.unselected, .table>tbody>tr.info>td.unselected {
	background-color: window;
}

ul#task-manager {
	padding: 0;
	min-width: 450px;
	padding: 10px;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

ul#task-manager>li>li {
	border-top: 1px solid #777;
}

.tooltip-inner {
	max-width: 800px;
	white-space: pre-wrap;
	word-break: normal;
	overflow: hidden;
	text-align: justify;
}

.popover {
	max-width: 800px;
	max-height: 660px;
}

.popover pre {
	overflow: auto;
	max-height: 600px;
}

.trick-ui table .form-control, .trick-ui table .input-group-addon {
	padding: 0px 3px;
}

.trick-ui {
	height: auto !important;
	padding-bottom: 18px;
	margin-bottom: -18px;
}

.trick-ui label, .trick-ui th {
	font-weight: normal;
}

.numeric {
	text-align: right;
}

.nav-chapter, .affixNav {
	overflow: hidden;
}

.nav-chapter:HOVER, .affixNav:HOVER {
	overflow: auto;
}

datalist {
	display: none;
}

.re-pre:HOVER {
	overflow: auto;
}

.re-pre {
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow: hidden;
	resize: vertical;
}

.scrollable:HOVER {
	overflow: auto;
}

#loading-indicator {
	position: fixed;
	z-index: 2000;
	top: 50%;
	left: 50%;
}

.scrollable {
	overflow: hidden;
}

.back-btn-top {
	display: none;
}

.editable>a[data-controller] {
	font-size: 10px;
	margin-left: -13px;
	margin-right: 3px;
}

.editable:HOVER>a[data-controller] {
	position: relative;
	font-size: 15px;
	margin-left: -18px;
	margin-right: 3px;
}

#control_rrf_measure .slider.slider-vertical, #control_rrf_scenario .slider.slider-vertical {
	height: 164px;
}

.sceneario-sliders {
	height: 568.5px;
	overflow: hidden;
}

.sceneario-sliders:HOVER {
	overflow: auto;
}

.sceneario-sliders .slider.slider-vertical {
	height: 445px;
}

@media ( min-width : 1200px) {
	li.back-btn-bottom {
		display: none;
	}
	
	.back-btn-top {
		margin-top: 10px;
		display: block;
		position: fixed;
		right: 5px;
	}
	.max-height {
		height: 100%;
	}
	*[role='left-menu'],*[role='nav-tabs'] {
		position: fixed;
	}
	*[role='left-menu']+*[class*='col-'] {
		float: right;
	}
	
	.affixNav {
		height: 88%;
	}
	
	@media ( min-height :400px) {
		.nav-chapter {
			height: 36%;
		}
		
	}
	
	@media ( min-height :500px) {
		.nav-chapter {
			height: 48%;
		}
	}
	
	@media ( min-height :600px) {
		.nav-chapter {
			height: 50%;
		}
		
		@media ( min-width : 1280px) {
			.nav-chapter {
				height: 54%;
			}
		}
		@media ( min-width : 1400px) {
			.nav-chapter {
				height: 64%;
			}
		}
	}
	
	@media ( min-height :766px) {
		.nav-chapter {
			height: 60%;
		}
		
		@media ( min-width : 1600px) {
			.nav-chapter {
				height: 66%;
			}
		}
	}
	@media ( min-height :900px) {
		.nav-chapter {
			height: 66%;
		}
		@media ( min-width : 1600px) {
			.nav-chapter {
				height: 72%;
			}
		}
	}
	@media ( min-height :1200px) {
		.nav-chapter {
			height: 78%;
		}
	}
}