/* content */
#content {
	margin-top:25px;
	height:70%;
	overflow:scroll;
}

#footer {
	border-top: 1px solid #DDDDDD;
	margin-top:25px;
}

#analysismenu {
	margin-top:20px;
}

#history {
	margin-top:0;
	padding-top:0;
}