<div class="modal fade" id="credential-modal-form" tabindex="-1" role="dialog" aria-labelledby="credential-modal-form"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span th:text="#{'label.title.' + (${form.customer > 1} ? 'edit' : 'add') + '.credential'}"></span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="credential" th:action="@{/Account/Credential/Save}" th:object="${form}" method="post"
                    class="form-horizontal" id="credential_form">
                    <div class="form-group">
                        <label for="type" class="col-sm-3 control-label"
                            th:data-helper-content="#{help.credential.type}">
                            <span th:text="#{label.type}"></span>
                        </label>
                        <div class="col-sm-9">
                            <div id="radio-btn-credential-type" class="btn-group btn-group-justified"
                                data-toggle="buttons">
                                <th:block th:each="type : ${types}">
                                    <label class="btn btn-default" th:classappend="${type == form.type} ? 'active' : ''">
                                        <span th:text="#{'label.credential.type.' + ${type.name().toLowerCase()}}">${type.name().toLowerCase()}</span>
                                        <input type="radio" th:name="type" th:value="${type}"
                                            th:checked="${type == form.type}" required="required">
                                    </label>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="organisation" class="col-sm-3 control-label"
                            th:data-helper-content="#{help.credential.customer}">
                            <span th:text="#{label.customer}"></span>
                        </label>
                        <div class="col-sm-9">
                            <select name="customer" class="form-control" required="required">
                                <option value="0" th:disabled="true" th:selected="${form.customer == 0}">
                                    <span th:text="#{label.action.choose}"></span>
                                </option>
                                <div th:each="customer : ${customers}">
                                    <option th:value="${customer.id}" th:selected="${customer.id == form.customer}">
                                        <span th:text="${customer.organisation}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label"
                            th:data-helper-content="#{help.credential.name}">
                            <span th:text="#{label.username}"></span>
                        </label>
                        <div class="col-sm-9">
                            <input name="name" class="form-control" type="text" th:value="${form.name}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value" class="col-sm-3 control-label"
                            th:data-helper-content="#{help.credential.value}">
                            <span th:text="#{label.credential.value}"></span>
                        </label>
                        <div class="col-sm-9">
                            <input name="value" class="form-control" type="password" th:value="${form.value}"
                                required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publicUrl" class="col-sm-3 control-label"
                            th:data-helper-content="#{help.credential.public.url}">
                            <span th:text="#{label.credential.public.url}"></span>
                        </label>
                        <div class="col-sm-9">
                            <input name="publicUrl" class="form-control" type="url" th:value="${form.publicUrl}" />
                        </div>
                    </div>
                    <input type="submit" name="submit" class="hidden" id="btn-crdential-submit">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" name="save">
                    <span th:text="#{label.action.save}"></span>
                </button>
                <button type="button" class="btn btn-default" name="cancel" data-dismiss="modal">
                    <span th:text="#{label.action.cancel}">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>