<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  
<th:block th:fragment="section">
    <div id="section_credential">
        <ul class="nav nav-pills bordered-bottom" id="menu_credential">
            <li data-trick-ignored="true"><a href="#" onclick="return addCredential();"><span class="glyphicon glyphicon-plus primary"></span> 
                <span th:text="#{label.action.add}">Add</span></a></li>         
            <li class="disabled" data-trick-selectable="true"><a href="#" onclick="return editCredential();"><span
                        class="glyphicon glyphicon-edit danger"></span>
                    <span th:text="#{label.action.edit}">Edit</span></a></li>
            <li class="disabled pull-right" data-trick-selectable="true"><a href="#" class="text-danger"
                    onclick="return deleteCredential();"><span class="glyphicon glyphicon-remove"></span>
                    <span th:text="#{label.action.delete}">Delete</span></a></li>
        </ul>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th width="1%" rowspan="2"></th>
                    <th width="7%" rowspan="2" th:text="#{label.type}"></th>
                    <th width="10%" rowspan="2" th:text="#{label.username}"></th>
                    <th rowspan="2" th:text="#{label.credential.secret}"></th>
                    <th width="50%" class="text-center" colspan="4" th:text="#{label.ticketing.system}"></th>
                </tr>
                <tr>
                    <th width="8%" th:text="#{label.customer}"></th>
                    <th width="8%" th:text="#{label.type}"></th>
                    <th width="8%" th:text="#{label.name}"></th>
                    <th width="20%" th:text="#{label.url}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="credential : ${credentials}" th:data-trick-id="${credential.id}"
                    th:onclick="|selectElement(this)|" th:ondblclick="|return editCredential('${credential.id}');|">
                    <td><input type="checkbox" class="checkbox"
                            th:change="|return updateMenu(this,'#section_credential','#menu_credential');|"></td>
                    <td><span th:text="${#messages.msg('label.credential.type.' + credential.type.name().toLowerCase())}">Type</span></td>
                    <th th:if="${credential.type.name().toLowerCase() == 'token'}">-</th>
                    <th th:if="${credential.type.name().toLowerCase() != 'token'}" th:text="${credential.name}">Name</th>
                    <td th:if="${credential.type.name().toLowerCase() == 'token'}">****************</td>
                    <td th:if="${credential.type.name().toLowerCase() != 'token'}">**************</td>

                    <th th:if="${credential.ticketingSystem != null}">
                        <span th:text="${credential.ticketingSystem.customer.organisation}">Customer Amogus</span>
                    </th>
                    <th th:if="${credential.ticketingSystem != null}">
                        <span th:text="${#messages.msg('label.ticketing.system.type.' + credential.ticketingSystem.type.name().toLowerCase())}">Type</span>
                    </th>
                    <th th:if="${credential.ticketingSystem != null}">
                        <span th:text="${credential.ticketingSystem.name}">Ticketing System Name</span>
                    </th>
                    <td th:if="${credential.ticketingSystem != null}">
                        <a th:href="${credential.publicUrl != null ? credential.publicUrl : credential.ticketingSystem.url}"
                            target="_blank">
                            <span
                                th:text="${credential.publicUrl != null ? credential.publicUrl : credential.ticketingSystem.url}">URL</span>
                        </a>
                    </td>
                    <td th:if="${credential.ticketingSystem == null}" colspan="4"></td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>