<div th:if="${type.quantitative}">
    <div class="tab-pane trick-chart-tab" id="tab-chart-asset" data-update-required="true" data-trigger="loadChartAsset">
        <div id="chart_asset" class="container">
            <div class="page-header tab-content-header">
                <div class="container">
                    <div class="row-fluid">
                        <h3>
                            <span th:text="#{label.title.chart.asset}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div id="chart_ale_asset" class="col-xs-6"></div>
            <div id="chart_ale_asset_type" class="col-xs-6"></div>
        </div>
    </div>
    <div class="tab-pane trick-chart-tab" id="tab-chart-scenario" data-update-required="true" data-trigger="loadChartScenario">
        <div id="chart_scenario" class="container">
            <div class="page-header tab-content-header">
                <div class="container">
                    <div class="row-fluid">
                        <h3>
                            <span th:text="#{label.title.chart.scenario}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div id="chart_ale_scenario" class="col-xs-6"></div>
            <div id="chart_ale_scenario_type" class="col-xs-6"></div>
        </div>
    </div>
</div>

<div class="tab-pane trick-chart-tab" id="tab-chart-compliance" data-update-required="true" data-trigger="compliances">
    <div id="chart_compliance" class="container">
        <div class="page-header tab-content-header">
            <div class="container">
                <div class="row-fluid">
                    <h3>
                        <span th:text="#{label.title.chart.compliance}"></span>
                    </h3>
                </div>
            </div>
        </div>
        <div id="chart_compliance_body" class="row"></div>
    </div>
</div>

<div th:if="${type.qualitative}">
    <div th:with="riskAcceptanceTablePlaceHolder='
        <fieldset>
            <legend>
                <span th:text="#{label.title.parameter.risk.acceptance.threshold}"></span>
            </legend>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th><span th:text="#{label.importance.threshold}"></span></th>
                        <th style="width: 20%; text-align: center;">
                            <span th:text="#{label.parameter.label}"></span>
                        </th>
                        <th style="width: 50%"><span th:text="#{label.description}"></span></th>
                        <th><span th:text="#{label.color}"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="warning">
                        <td colspan="4"><span th:text="#{info.risk_acceptance.empty}"></span></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    '">
        <div class="tab-pane trick-chart-tab" id="tab-chart-heat-map" data-update-required="true" data-trigger="reloadRiskHeatMapSection" data-parameters="true">
            <div id="risk_acceptance_heat_map">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.risk_acceptance.heat_map_evolution}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <fieldset>
                            <legend>
                                <span th:text="#{label.title.risk_acceptance.heat_map}"></span>
                            </legend>
                            <canvas id="risk_acceptance_heat_map_canvas" style="max-width: 900px; margin-left: auto; margin-right: auto;"></canvas>
                        </fieldset>
                    </div>
                    <div class="col-sm-4" th:utext="${riskAcceptanceTablePlaceHolder}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <fieldset>
                        <legend>
                            <span th:text="#{label.title.risk_acceptance.evolution}"></span>
                        </legend>
                        <canvas id="risk_acceptance_evolution_canvas" style="max-width: 1000px; margin-left: auto; margin-right: auto;"></canvas>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    <fieldset>
                        <legend>
                            <span class="col-md-4 hidden-sm">
                                <span th:text="#{label.title.risk_acceptance.legend}"></span>
                            </span>
                            <span class="col-md-8">
                                <span class="pull-right">
                                    <span class="col-xs-9 text-right" th:text="#{label.chart.item.display}"></span>
                                    <span class="col-xs-3">
                                        <input class="form-control" type="number" min="0" value="10" id="chart-show-x-element">
                                    </span>
                                </span>
                            </span>
                        </legend>
                        <div id="risk_acceptance_evolution_legend" style="overflow-x: auto; resize: vertical;"></div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="tab-pane trick-chart-tab" id="tab-chart-risk-asset" data-update-required="true" data-trigger="reloadRiskAssetSection" data-parameters="true">
            <div id="risk_by_asset">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.risk_by.asset}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" id="risk_acceptance_assets"></div>
                <div class="col-sm-4" th:utext="${riskAcceptanceTablePlaceHolder}"></div>
            </div>
        </div>

        <div class="tab-pane trick-chart-tab" id="tab-chart-risk-asset-type" data-update-required="true" data-trigger="reloadRiskAssetTypeSection" data-parameters="true">
            <div id="risk_by_asset_type">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.risk_by.asset_type}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" id="risk_acceptance_asset_types"></div>
                <div class="col-sm-4" th:utext="${riskAcceptanceTablePlaceHolder}"></div>
            </div>
        </div>

        <div class="tab-pane trick-chart-tab" id="tab-chart-risk-scenario" data-update-required="true" data-trigger="reloadRiskScenarioSection" data-parameters="true">
            <div id="risk_by_scenario">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.risk_by.scenario}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" id="risk_acceptance_scenarios"></div>
                <div class="col-sm-4" th:utext="${riskAcceptanceTablePlaceHolder}"></div>
            </div>
        </div>

        <div class="tab-pane trick-chart-tab" id="tab-chart-risk-scenario-type" data-update-required="true" data-trigger="reloadRiskScenarioTypeSection" data-parameters="true">
            <div id="risk_by_scenario_type">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.risk_by.scenario_type}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" id="risk_acceptance_scenario_types"></div>
                <div class="col-sm-4" th:utext="${riskAcceptanceTablePlaceHolder}"></div>
            </div>
        </div>
    </div>
</div>

<div th:if="${type.quantitative}">
    <div class="tab-pane trick-chart-tab" id="tab-chart-evolution" data-update-required="true" data-trigger="loadChartEvolution">
        <div id="chart_evolution" class="container">
            <div class="page-header tab-content-header">
                <div class="container">
                    <div class="row-fluid">
                        <h3>
                            <span th:text="#{label.title.chart.evolution.profitability.compliance}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div th:if="${show_uncertainty}">
                <div id="chart_evolution_profitability_APPO" class="col-sm-6"></div>
                <div id="chart_compliance_APPO" class="col-sm-6"></div>
                <div id="chart_evolution_profitability_APPN" class="col-sm-6"></div>
                <div id="chart_compliance_APPN" class="col-sm-6"></div>
                <div id="chart_evolution_profitability_APPP" class="col-sm-6"></div>
                <div id="chart_compliance_APPP" class="col-sm-6"></div>
            </div>
            <div th:unless="${show_uncertainty}">
                <div id="chart_evolution_profitability_APPN" class="col-sm-6"></div>
                <div id="chart_compliance_APPN" class="col-sm-6"></div>
            </div>
        </div>
    </div>

    <div class="tab-pane trick-chart-tab" id="tab-chart-budget" data-update-required="true" data-trigger="loadChartBudget">
        <div id="chart_budget" class="container">
            <div class="page-header tab-content-header">
                <div class="container">
                    <div class="row-fluid">
                        <h3>
                            <span th:text="#{label.title.chart.budget}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div th:if="${show_uncertainty}">
                <div id="chart_budget_cost_APPO" class="col-sm-6"></div>
                <div id="chart_budget_workload_APPO" class="col-sm-6"></div>
                <div id="chart_budget_cost_APPN" class="col-sm-6"></div>
                <div id="chart_budget_workload_APPN" class="col-sm-6"></div>
                <div id="chart_budget_cost_APPP" class="col-sm-6"></div>
                <div id="chart_budget_workload_APPP" class="col-sm-6"></div>
            </div>
            <div th:unless="${show_uncertainty}">
                <div id="chart_budget_cost_APPN" class="col-sm-6"></div>
                <div id="chart_budget_workload_APPN" class="col-sm-6"></div>
            </div>
        </div>
    </div>

    <div th:if="${showDynamicAnalysis}">
        <div class="tab-pane trick-chart-tab" id="tab-chart-ale-evolution" data-update-required="true" data-trigger="loadChartDynamicAleEvolution">
            <div id="chart_aleevolutionbyassettype" class="container">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.chart.aleevolution}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="chart_aleevolution_body"></div>
            </div>
        </div>

        <div class="tab-pane trick-chart-tab" id="tab-chart-ale-evolution-by-asset-type" data-update-required="true" data-trigger="loadChartDynamicAleEvolutionByAssetType">
            <div id="chart_aleevolutionbyscenario" class="container">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.chart.aleevolution_by_asset_type}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="chart_aleevolutionbyassettype_body"></div>
            </div>
        </div>

        <div class="tab-pane trick-chart-tab" id="tab-chart-parameter-evolution" data-update-required="true" data-trigger="loadChartDynamicParameterEvolution">
            <div id="chart_parameterevolution" class="container">
                <div class="page-header tab-content-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h3>
                                <span th:text="#{label.title.chart.dynamic}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="chart_parameterevolution_body" class="row"></div>
            </div>
        </div>
    </div>
</div>
