<head th:fragment="header">
	<title th:text="${title}? ${title} : 'TRICK Service'">TRICK Service</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="_csrf" content="THX-BFE-BJA-EOM-RPA-SME-SMU" th:content="${_csrf.token}" />
	<meta name="_csrf_header" content="X-CSRF-TOKEN" th:content="${_csrf.headerName}" />
	<meta name="author" content="itrust consulting s.à r.l - itrust.lu" />
	<meta name="description" content="Risk analysis" th:content="#{label.risk_analysis}" />
	
	<link rel="shortcut icon" type="image/x-icon" href='/images/favicon.ico' th:href="@{/images/favicon.ico}" />
	<link rel="stylesheet" type="text/css" href='/css/bootstrap.min.css' th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href='/css/jquery-ui.min.css' th:href="@{/css/jquery-ui.min.css}" />
	<link rel="stylesheet" type="text/css" href='/css/font-awesome.min.css' th:href="@{/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" href='/css/bootstrap.vertical-tabs.min.css'
		th:href="@{/css/bootstrap.vertical-tabs.min.css}" />

	<link rel="stylesheet" th:each="customCSS,iterStat : ${customCSSs}" th:href="@{${customCSS}}" href='#'
		type="text/css" />

	<link rel="stylesheet" href='/css/themes/default.css' th:href="@{/css/themes/default.css}" type="text/css" />
	<script th:inline="javascript">
		var context = /*[[@{/}]]*/  '';
	</script>
	<!-- It will be updated in menu -->
</head>