<div th:if="${success}" class="alert alert-success" id="success">
	<a href="#" class="close" data-dismiss="alert" style="margin-right: -10px; margin-top: -12px">×</a>
	<div data-notification-type='success' th:text="#{${success}} ${success}">
		This a success message!
	</div>
	<th:bloc th:inline="text">[[${#application.removeAttribute('success')}]]</th:bloc>
</div>

<div th:if="${error}" class="alert alert-danger" id="error">
	<a href="#" class="close" data-dismiss="alert" style="margin-right: -10px; margin-top: -12px">×</a>
	<div data-notification-type='error' th:text="#{${error}} ${error}">
		This an error message!
	</div>
	<th:bloc th:inline="text">[[${#application.removeAttribute('error')}]]</th:bloc>
</div>

<div th:if="${errors}" class="alert alert-danger" id="error">
	<a href="#" class="close" data-dismiss="alert" style="margin-right: -10px; margin-top: -12px">×</a>
	<div data-notification-type='error' th:text="#{${errors}} ${errors}">
		This an error message!
	</div>
	<th:bloc th:inline="text">[[${#application.removeAttribute('errors')}]]</th:bloc>
</div>

<div th:if="${errorTRICKException}" class="alert alert-danger" id="error">
	<a href="#" class="close" data-dismiss="alert" style="margin-right: -10px; margin-top: -12px">×</a>
	<div data-notification-type='error'
		th:text="#{${errorTRICKException.code}(errorTRICKException.parameters)} ${errorTRICKException.message}">
		This an exception message!
	</div>
</div>

<div th:if="${errorHANDLER}" class="alert alert-danger" id="error">
	<a href="#" class="close" data-dismiss="alert" style="margin-right: -10px; margin-top: -12px">×</a>
	<div data-notification-type='error'
		th:text="#{${errorHANDLER.code}(errorHANDLER.parameters)} ${errorHANDLER.message}">
		This an error handler message!
	</div>
</div>