<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="trick service">
  <!-- Names the annotated entity class -->
  <mapping resource="lu/itrust/business/TS/Language.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Analysis.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Customer.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Phase.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/History.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/SecurityCriteria.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Asset.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/AssetTypeValue.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Assessment.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/actionplan/SummaryStage.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Parameter.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/cssf/RiskRegisterItem.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/actionplan/ActionPlanEntry.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/RiskInformation.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/MeasureDescription.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/MeasureDescriptionText.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Measure.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Norm.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/ItemInformation.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/User.hbm.xml"/>
  <mapping resource="lu/itrust/business/TS/Role.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
