<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{templates/template/header :: head}"></head>
<body>
<div class="container">

    <!-- Logo -->
    <img class="center-block"
         th:alt="#{label.logo}"
         th:src="@{/images/brand.png}"
         style="height: 200px; margin-top: 50px;" />

    <div style="margin: 0 auto; max-width: 600px; padding: 0px 15px">

        <!-- Page Heading -->
        <h2 class="form-signin-heading col-sm-offset-3" th:text="#{label.title.user.reset.password}">
            Reset your password
        </h2>

        <!-- Reset Password Form -->
        <form th:action="@{/ResetPassword/Save}" method="post" class="form-horizontal" th:object="${resetPassword}">
            
            <!-- CSRF Token -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <!-- Username -->
            <div class="form-group" style="margin-top: 20px; margin-bottom: 5px;">
                <label class="col-sm-3 control-label" th:for="*{username}" th:text="#{label.user.login}">Username</label>
                <div class="col-sm-9">
                    <input th:field="*{username}" class="form-control" />
                </div>
            </div>

            <!-- OR Separator -->
            <div class="form-group" style="margin: 0px auto">
                <div class="col-sm-offset-3 col-sm-9">
                    <label class="col-sm-offset-5" style="font-size: 15px" th:text="#{label.or}">or</label>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label class="col-sm-3 control-label" th:for="*{email}" th:text="#{label.user.email}">Email address</label>
                <div class="col-sm-9">
                    <input type="email"
                           th:field="*{email}"
                           class="form-control"
                           pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                </div>
            </div>

            <!-- Errors -->
            <div class="form-group" th:if="${#fields.hasErrors('*')}">
                <div class="col-sm-offset-3 col-sm-9">
                    <label th:each="err : ${#fields.errors('*')}"
                           th:text="${err}"
                           class="label label-danger"
                           style="font-size: 12px"></label>
                </div>
            </div>

            <!-- Submit/Cancel Buttons -->
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-primary" type="submit" th:text="#{label.action.reset.password}">
                        Reset password
                    </button>
                    <a class="btn btn-default pull-right"
                       th:href="@{/Login}"
                       th:text="#{label.action.cancel}">
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>

    <!-- Footer -->
    <div th:replace="~{templates/template/footer :: footer}"></div>

</div>
</body>
</html>
