<!DOCTYPE html>
<html lang="[[${locale.language}]]">
<!-- Include Header -->
<th:block th:if="${#strings.isEmpty(locale)}">
    <!-- commented out for now, will need reviewing later
    <th:block th:replace="~{templates/template/locale :: localeContextHolder}"></th:block>
    -->
</th:block>

<!-- Set the page title -->
<th:block th:with="title=${'label.title.knowledgebase'}"></th:block>

<!-- Include header -->
<div th:replace="~{templates/template/header :: header('label.title.knowledgebase')}"></div>

<!-- ################################################################# Start Container ############################################################## -->
<body>
    <div id="wrap" class="wrap">
        <!-- ################################################################### Nav Menu ################################################################### -->
        <div th:replace="~{templates/template/menu :: main-menu(menu, analysisSharedCount)}"></div>
        
        <div class="container" data-ug-root="knowledgebase">
            <!-- #################################################################### Content ################################################################### -->
            <ul class="nav nav-tabs affix affix-top nav-tab">
                <li class="active">
                    <a href="#tab-customer" data-toggle="tab" th:text="#{title.menu.knowledgebase.customers}">Customers</a>
                </li>
                <li>
                    <a href="#tab-language" data-toggle="tab" th:text="#{title.menu.knowledgebase.languages}">Language</a>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span th:text="#{label.menu.knowledgebase.standards_measures}">Standards-measures</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#tab-standard" data-toggle="tab" th:text="#{label.menu.knowledgebase.standards}">Standards</a></li>
                        <li id="control_tab_measure" style="display: none;">
                            <a href="#tab-measure" data-toggle="tab" th:text="#{label.menu.knowledgebase.measures}">Measures</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#tab-scale-type" data-toggle="tab" th:text="#{label.menu.knowledgebase.impacts}">Impacts</a></li>
                <li><a href="#tab-analyses" data-toggle="tab" th:text="#{label.analysis.profile.title}">Analysis profiles</a></li>
            </ul>
            
            <div class="tab-content" id="tab-container">
                <!-- commented out for now, will need reviewing later
                <div th:replace="~{templates/customer/customers :: customers}"></div>
                -->
                <!-- commented out for now, will need reviewing later
                <div th:replace="~{templates/language/languages :: languages}"></div>
                -->
                <div th:replace="~{templates/analyses/single/components/standards/standard/standards :: standards}"></div>
                <!-- commented out for now, will need reviewing later
                <div th:replace="~{templates/analyses/single/components/standards/measure/measures :: measures}"></div>
                -->
                <!-- commented out for now, will need reviewing later
                <div th:replace="~{templates/analysis/analyses :: analyses}"></div>
                -->
                <!-- commented out for now, will need reviewing later
                <div th:replace="~{templates/scale/home :: home}"></div>
                -->
                <div th:replace="~{templates/template/tab-option :: tab-option}"></div>
            </div>
        </div>
        <!-- ################################################################ End Container ################################################################# -->
    </div>

    <!-- Include Footer -->
    <div th:replace="~{templates/template/footer :: footer}"></div>
    <!-- commented out for now, will need reviewing later
    <div th:replace="~{templates/template/widget :: widget}"></div>
    -->
    
    <!-- Scripts -->
    <div th:replace="~{templates/template/scripts :: scripts}"></div>
    
    <!-- Custom JS -->
    <script type="text/javascript" th:src="@{/js/trickservice/knowledgebase.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.fileDownload.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/measuredescription.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/standard.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/language.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/customer.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/scale.js}"></script>
</body>
<!-- ################################################################### End HTML ################################################################### -->
</html>
