<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="[[${locale.language}]]" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:if="${#strings.isEmpty(locale)}">
    <!-- review
    <th:block th:replace="~{templates/template/locale}"></th:block>
-->
</th:block>

<th:block th:with="title=${'label.title.knowledgebase'}"></th:block>

<!-- Header -->
<div th:replace="~{templates/template/header :: header('label.title.knowledgebase')}"></div>

<body>
    <div id="wrap" class="wrap">
        <!-- Menu -->
        <div th:replace="~{templates/template/menu :: main-menu(menu, analysisSharedCount)}"></div>
        
        <div class="container" data-ug-root="knowledgebase">
            <!-- Tabs -->
            <ul class="nav nav-tabs affix affix-top nav-tab">
                <li class="active">
                    <a href="#tab-customer" data-toggle="tab" th:text="#{title.menu.knowledgebase.customers}">Customers</a>
                </li>
                <li>
                    <a href="#tab-language" data-toggle="tab" th:text="#{title.menu.knowledgebase.languages}">Language</a>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span th:text="#{label.menu.knowledgebase.standards_measures}">Standards-measures</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#tab-standard" data-toggle="tab" th:text="#{label.menu.knowledgebase.standards}">Standards</a></li>
                        <li id="control_tab_measure" style="display: none;">
                            <a href="#tab-measure" data-toggle="tab" th:text="#{label.menu.knowledgebase.measures}">Measures</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#tab-scale-type" data-toggle="tab" th:text="#{label.menu.knowledgebase.impacts}">Impacts</a></li>
                <li><a href="#tab-analyses" data-toggle="tab" th:text="#{label.analysis.profile.title}">Analysis profiles</a></li>
            </ul>
            
            <div class="tab-content" id="tab-container">
                <!-- Include full template if fragment does not exist -->
                <div th:replace="~{templates/knowledgebase/customer/customers}"></div>
                <div th:replace="~{templates/knowledgebase/language/languages}"></div>
                <div th:replace="~{templates/knowledgebase/standards/standard/standards}"></div>
                <div th:replace="~{templates/knowledgebase/standards/measure/measures}"></div>
                <div th:replace="~{templates/knowledgebase/analyses/analyses}"></div>
                <div th:replace="~{templates/knowledgebase/scale/home}"></div>
                <div th:replace="~{templates/template/tab-option :: tab-option}"></div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{templates/template/footer :: footer}"></div>
   <div th:replace="~{templates/knowledgebase/widget}"></div>

    
    <!-- Scripts -->
    <div th:replace="~{templates/template/scripts :: scripts}"></div>
    
    <!-- JS -->
    <script type="text/javascript" th:src="@{/js/trickservice/knowledgebase.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.fileDownload.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/measuredescription.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/standard.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/language.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/customer.js}"></script>
    <script type="text/javascript" th:src="@{/js/trickservice/scale.js}"></script>
</body>
</html>
