<div id="widget">
    <!-- Include content from various fragments -->
    <div th:replace="~{templates/analysis/widgetcontent :: widgetcontent}"></div>
    <div th:replace="~{templates/customer/widgetcontent :: widgetcontent}"></div>
    <div th:replace="~{templates/language/widgetcontent :: widgetcontent}"></div>
    <div th:replace="~{templates/standards/standard/widgetcontent :: widgetcontent}"></div>
    <div th:replace="~{templates/standards/measure/widgetcontent :: widgetcontent}"></div>
</div>
