<div id="widget">
    <!-- commented out for now, will need reviewing later
    <div th:replace="~{templates/analysis/widgetcontent :: widgetcontent}"></div>
    -->
    <!-- commented out for now, will need reviewing later
    <div th:replace="~{templates/customer/widgetcontent :: widgetcontent}"></div>
    -->
    <!-- commented out for now, will need reviewing later
    <div th:replace="~{templates/language/widgetcontent :: widgetcontent}"></div>
    -->
    <!-- commented out for now, will need reviewing later
    <div th:replace="~{templates/standards/standard/widgetcontent :: widgetcontent}"></div>
    -->
    <!-- commented out for now, will need reviewing later
    <div th:replace="~{templates/standards/measure/widgetcontent :: widgetcontent}"></div>
    -->
</div>
