<!DOCTYPE html>
<html lang="[[${locale.language}]]">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.error.500}">500: Internal Server Error</title>
</head>
<body>
    <div id="wrap">
        
        <th:block th:replace="~{templates/template/menu :: menu}" />
        <div class="container">
            <th:block th:replace="~{templates/template/successErrors :: successErrors}" />
            
            <div class="page-header">
                <h1>
                    <span th:text="#{title.error.500}">500: Internal Server Error</span>
                </h1>
            </div>
            <div class="content" id="content" data-spy="scroll">
                <span th:text="#{error.500.message}">An unexpected error occurred.</span>
            </div>
        </div>

        <th:block th:replace="~{templates/template/footer :: footer}" />
    </div>
    <th:block th:replace="~{templates/template/scripts :: scripts}" />
</body>
</html>
