<!DOCTYPE html>
<html lang="${locale.language}">
<!-- Include Header -->
<div th:replace="~{../template/header :: header}"></div>

<!-- ################################################################# Start Container ############################################################## -->
<body>
    <div id="wrap">
        <!-- ################################################################### Nav Menu ################################################################### -->
        <div th:replace="~{../template/menu :: menu}"></div>
        
        <div class="container">
            <div th:replace="~{../template/successErrors :: successErrors}"></div>

            <!-- #################################################################### Content ################################################################### -->
            <div class="page-header">
                <h1 th:text="#{title.error.504}">504 Error</h1>
            </div>
            <div class="content" id="content" data-spy="scroll">
                <p th:text="#{error.504.message}">Error 504 Message</p>
            </div>
            <!-- ################################################################ End Container ################################################################# -->
        </div>

        <!-- ################################################################ Include Footer ################################################################ -->
        <div th:replace="~{../template/footer :: footer}"></div>
    </div>

    <div th:replace="~{../template/scripts :: scripts}"></div>
</body>
<!-- ################################################################### End HTML ################################################################### -->
</html>
