<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="[[${locale.language}]]" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Include Header -->
    <th:block th:replace="~{templates/template/header :: header('label.title.error.504')}"></th:block>
</head>
<body>
    <div id="wrap">
        <!-- ################################################################### Nav Menu ################################################################### -->
        <th:block th:replace="~{templates/template/menu :: main-menu(menu, analysisSharedCount)}"></th:block>
        
        <div class="container">
            <th:block th:replace="~{templates/template/successErrors :: successErrors}"></th:block>

            <!-- #################################################################### Content ################################################################### -->
            <div class="page-header">
                <h1 th:text="#{label.title.error.504}">504: Gateway Timeout</h1>
            </div>
            <div class="content" id="content" data-spy="scroll">
                <p th:text="#{error.504.message}">Error 504 Message</p>
            </div>
            <!-- ################################################################ End Container ################################################################# -->
        </div>

        <!-- ################################################################ Include Footer ################################################################ -->
        <th:block th:replace="~{templates/template/footer :: footer}"></th:block>
    </div>

    <th:block th:replace="~{templates/template/scripts :: scripts}"></th:block>
</body>
</html>
