<div id="tab-soa" class="tab-pane">
    <div class="section" id="section_soa" style="z-index: 3">
        <div class="page-header tab-content-header">
            <div class="container">
                <div class="row-fluid">
                    <h3 th:text="#{label.title.soa}"></h3>
                </div>
            </div>
        </div>

        <div th:if="${soas != null and not soas.isEmpty()}">
            <ul class="nav nav-pills bordered-bottom" id="menu_section_soa">
                <li th:each="standard : ${soas.keySet()}"
                    th:class="${status.index == 0 ? 'disabled' : ''}" 
                    th:data-trick-nav-control="${standard.id}">
                    <a href="#" 
                       th:onclick="'return navToogled(\'#section_soa\',\'#menu_section_soa,#tabOption\',\'' + ${standard.id} + '\',true);'">
                       <span th:text="${standard.name}"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div th:each="standard : ${soas.keySet()}"
             th:data-trick-nav-content="${standard.id}" 
             th:attr="hidden=${status.index != 0}">
            <table class="table table-hover table-fixed-header-analysis table-condensed" 
                   th:id="'table_SOA_' + ${standard.id}">
                <thead>
                    <tr>
                        <th style="width: 3%;" th:title="#{label.title.sao.measure.ref}"><span th:text="#{label.measure.ref}"></span></th>
                        <th style="width: 15%;" th:title="#{label.measure.domain}"><span th:text="#{label.measure.domain}"></span></th>
                        <th style="width: 2%;" th:title="#{label.title.measure.status}"><span th:text="#{label.measure.status}"></span></th>
                        <th style="width: 2%;" th:title="#{label.title.measure.ir}"><span th:text="#{label.measure.ir}"></span></th>
                        <th style="width: 2%;" th:title="#{label.title.measure.phase}"><span th:text="#{label.measure.phase}"></span></th>
                        <th th:if="${type.quantitative}" style="width: 15%;" th:title="#{label.measure.soa.risk}"><span th:text="#{label.measure.soa.risk}"></span></th>
                        <th th:title="#{label.justification}"><span th:text="#{label.justification}"></span></th>
                        <th th:title="#{label.reference}"><span th:text="#{label.reference}"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="measure : ${soas[standard]}" th:object="${measure}">
                        <div th:if="${not measure.measureDescription.computable}">
                            <tr class="active" th:data-trick-id="${measure.id}">
                                <div th:set="measureDescriptionText = ${measure.measureDescription.getMeasureDescriptionTextByAlpha2(language)}">
                                <td><span th:text="${measure.measureDescription.reference}"></span></td>
                                <td th:colspan="${type.quantitative ? 7 : 6}">
                                    <span th:text="${measureDescriptionText != null and !measureDescriptionText.isEmpty() ? measureDescriptionText.domain : ''}"></span>
                                </td>
                            </tr>
                        </div>
                        <div th:else>
                            <tr th:data-trick-class="'SOA'" th:data-trick-id="${measure.id}">
                                <td th:class="${measure.status == 'NA' ? 'active' : ''}"
                                    th:data-toggle="popover" th:data-container="'body'" th:data-placement="'right'"
                                    th:data-trigger="'hover'" th:data-html="true" th:data-content="''"
                                    th:title="${measure.measureDescription.reference}">
                                    <span th:text="${measure.measureDescription.reference}"></span>
                                </td>
                                <td th:class="${measure.status == 'NA' or measure.status == 'EX' ? 'active' : ''}">
                                    <span th:text="${measureDescriptionText != null ? measureDescriptionText.domain : ''}"></span>
                                </td>

                                <td th:class="${measure.status == 'NA' ? 'active' : ''}"
                                    th:title="${titleStatusNA}" th:data-trick-field="'status'"
                                    th:data-trick-real-vlue="'NA'" th:text="${statusNA}"></td>
                                <td th:class="${measure.status == 'EX' ? 'active' : ''}"
                                    th:title="${titleStatusEX}" th:data-trick-field="'status'"
                                    th:data-trick-real-vlue="'EX'" th:text="${statusEX}"></td>
                                <td th:class="${measure.status == 'AP' ? '' : ''}"
                                    th:title="${titleStatusAP}" th:data-trick-field="'status'"
                                    th:data-trick-real-vlue="'AP'" th:text="${statusAP}"></td>
                                <td th:class="${measure.status == 'NA' or measure.status == 'EX' ? 'active' : ''}">
                                    <span th:text="${implementationRateValue}"></span>
                                </td>
                                <td th:class="${measure.status == 'NA' or measure.status == 'EX' ? 'active' : ''}">
                                    <span th:text="${measure.phase.number}"></span>
                                </td>

                                <td th:if="${type.quantitative}" th:class="${measure.status == 'NA' or measure.status == 'EX' ? 'active' : ''}">
                                    <span th:text="${measure.soaRisk}"></span>
                                </td>
                                <td th:class="${measure.soaComment == '' ? 'warning' : (css != '' ? css : '')}" 
                                    th:onclick="'return editField(this);'" 
                                    th:data-trick-field="'soaComment'" th:data-trick-content="'text'"
                                    th:data-trick-field-type="'string'" 
                                    th:data-trick-callback="'validateSOAState(' + ${standard.id} + ',' + ${measure.id} + ')'" >
                                    <span th:text="${measure.soaComment}"></span>
                                </td>
                                <td th:class="${css}" th:onclick="'return editField(this);'" 
                                    th:data-trick-field="'soaReference'" th:data-trick-content="'text'" 
                                    th:data-trick-field-type="'string'">
                                    <span th:text="${measure.soaReference}"></span>
                                </td>
                            </tr>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
