<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Scenario Assessments</title>
</head>
<body>

<!-- ensure locale/langue -->
<th:block th:with="
  localeObj=${locale != null ? locale : #localeContext.getLocale()},
  langue=${(locale != null ? locale : #localeContext.getLocale()).language.toUpperCase()}
"></th:block>

<!-- safe titles (quotes escaped for JS usage in handlers below) -->
<th:block th:with="
  impactScaleTitleSafe=${impactScaleTitle != null ? impactScaleTitle.replace('''','\\''') : ''},
  probabilityScaleTitleSafe=${probabilityScaleTitle != null ? probabilityScaleTitle.replace('''','\\''') : ''},
  dynamicParametersTitleSafe=${dynamicParametersTitle != null ? dynamicParametersTitle.replace('''','\\''') : ''},
  probablityMenuSafe=${probablityMenu != null ? probablityMenu.replace('''','\\''') : ''},
  impactScaleMenuSafe=${impactScaleMenu != null ? impactScaleMenu.replace('''','\\''') : ''},
  probabilityScaleMenuSafe=${probabilityScaleMenu != null ? probabilityScaleMenu.replace('''','\\''') : ''}
"></th:block>

<div class="col-lg-10 col-md-9 trick-ui" id="section_scenario_assessment"
     data-view-type="table" data-view-name="estimation-ui" data-trick-asset-id="0"
     th:attr="data-trick-scenario-id=${scenario.id}, data-trick-content=|scenario|">

  <div class="page-header tab-content-header">
    <div class="container">
      <div class="row-fluid">
        <h3 role="title">
          <span th:text="#{label.assessment.for.scenario(${scenario.name})}"></span>
        </h3>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills bordered-bottom" id="menu_scenario_assessment">
    <li>
      <a href="#" th:onclick="|return switchTab('tab-scenario');|">
        <span class="fa fa-home"></span>
        <span th:text="#{label.menu.analysis.scenario}"></span>
      </a>
    </li>

    <!-- qualitative branch -->
    <th:block th:switch="${type.qualitative}">
      <th:block th:case="true">
        <li class="dropdown-submenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span th:text="${impactScaleMenu}"></span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!-- if quantitative on top of qualitative, show quantitative header then qualitative header -->
            <th:block th:switch="${type.quantitative}">
              <th:block th:case="true">
                <li class="dropdown-header">
                  <span th:text="#{label.analysis.type.quantitative}"></span>
                </li>
                <li>
                  <a href="#"
                     th:onclick="|return displayParameters('#Scale_Impact', '#{label.title.parameter.quantitative.impact}');|">
                    <span th:text="#{label.title.impact}"></span>
                  </a>
                </li>
                <li class="dropdown-header">
                  <span th:text="#{label.analysis.type.qualitative}"></span>
                </li>
              </th:block>
            </th:block>

            <!-- impacts per impactType (excluding generic IMPACT) -->
            <th:block th:each="impactType : ${impactTypes}">
              <th:block th:if="${impactType.name != 'IMPACT'}"
                        th:with="impactName=${impactType.name}">
                <li>
                  <a href="#"
                     th:onclick="|return displayParameters('#Scale_Impact_' + '${impactName}');|">
                    <span th:text="#{label.title.parameter.extended.impact.__${#strings.toLowerCase(impactName)}__}"></span>
                    <span th:text="${empty impactType.translations[language] ? impactType.displayName : impactType.translations[language].name}"></span>
                  </a>
                </li>
              </th:block>
            </th:block>
          </ul>
        </li>

        <!-- probability / dynamic parameters menu (qualitative branch) -->
        <th:block th:switch="${type.quantitative}">
          <th:block th:case="true">
            <th:block th:switch="${showDynamicAnalysis}">
              <th:block th:case="true">
                <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span th:text="${probabilityScaleMenu}"></span> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#"
                         th:onclick="|return displayParameters('#Scale_Probability', '${probabilityScaleTitleSafe}');|">
                        <span th:text="${probabilityScaleTitle}"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#"
                         th:onclick="|return displayParameters('#DynamicParameters', '${dynamicParametersTitleSafe}');|">
                        <span th:text="${dynamicParametersTitle}"></span>
                      </a>
                    </li>
                  </ul>
                </li>
              </th:block>
              <th:block th:case="false">
                <li>
                  <a href="#"
                     th:onclick="|return displayParameters('#Scale_Probability', '${probabilityScaleTitleSafe}');|">
                    <span th:text="${probabilityScaleMenu}"></span>
                  </a>
                </li>
              </th:block>
            </th:block>
          </th:block>
          <th:block th:case="false">
            <li>
              <a href="#"
                 th:onclick="|return displayParameters('#Scale_Probability', '${probabilityScaleTitleSafe}');|">
                <span th:text="${probabilityScaleMenu}"></span>
              </a>
            </li>
          </th:block>
        </th:block>
      </th:block>

      <!-- non-qualitative branch -->
      <th:block th:case="false">
        <li>
          <a href="#"
             th:onclick="|return displayParameters('#Scale_Impact', '${impactScaleTitleSafe}');|">
            <span th:text="${impactScaleMenu}"></span>
          </a>
        </li>

        <th:block th:switch="${showDynamicAnalysis}">
          <th:block th:case="true">
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span th:text="${probabilityScaleMenu}"></span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#"
                     th:onclick="|return displayParameters('#Scale_Probability', '${probabilityScaleTitleSafe}');|">
                    <span th:text="${probabilityScaleTitle}"></span>
                  </a>
                </li>
                <li>
                  <a href="#"
                     th:onclick="|return displayParameters('#DynamicParameters', '${dynamicParametersTitleSafe}');|">
                    <span th:text="${dynamicParametersTitle}"></span>
                  </a>
                </li>
              </ul>
            </li>
          </th:block>
          <th:block th:case="false">
            <li>
              <a href="#"
                 th:onclick="|return displayParameters('#Scale_Probability', '${probabilityScaleTitleSafe}');|">
                <span th:text="${probabilityScaleMenu}"></span>
              </a>
            </li>
          </th:block>
        </th:block>
      </th:block>
    </th:block>
  </ul>

  <table class="table table-hover table-condensed table-fixed-header-analysis">
    <thead>
      <!-- qualitative header -->
      <tr th:if="${type.qualitative}">
        <th rowspan="2" style="width: 10%" th:title="#{label.assessment.asset}">
          <span th:text="#{label.assessment.asset}"></span>
        </th>
        <th rowspan="2" style="width: 2%" th:title="#{label.assessment.asset.value}">
          <span th:text="#{label.assessment.asset.value}"></span>
        </th>
        <th rowspan="2" style="width: 2%" th:title="#{label.title.likelihood}">
          <span th:text="#{label.assessment.likelihood}"></span>
        </th>

        <th style="text-align: center;"
            th:attr="colspan=${!type.quantitative ? qualitativeImpactCount : impactTypes.size()}">
          <span th:text="#{label.title.impact}"></span>
        </th>

        <!-- extra quantitative columns (when qualitative && quantitative) -->
        <th:block th:if="${type.quantitative}">
          <th rowspan="2" style="width: 2%" th:title="#{label.title.uncertainty}">
            <span th:text="#{label.assessment.uncertainty}"></span>
          </th>
          <th rowspan="2" style="width: 2%" th:title="#{label.title.aleo}">
            <span th:text="#{label.assessment.aleo}"></span>
          </th>
          <th rowspan="2" style="width: 2%" th:title="#{label.title.ale}">
            <span th:text="#{label.assessment.ale}"></span>
          </th>
          <th rowspan="2" style="width: 2%" th:title="#{label.title.alep}">
            <span th:text="#{label.assessment.alep}"></span>
          </th>
        </th:block>

        <th rowspan="2" style="width: 2%" th:title="#{label.title.owner}">
          <span th:text="#{label.title.owner}"></span>
        </th>
        <th rowspan="2" style="width: 29%" th:title="#{label.assessment.comment}">
          <span th:text="#{label.assessment.comment}"></span>
        </th>

        <th th:if="${showHiddenComment}" rowspan="2" style="width: 29%" th:title="#{label.assessment.hidden_comment}">
          <span th:text="#{label.assessment.hidden_comment}"></span>
        </th>
      </tr>

      <tr th:if="${type.qualitative}">
        <!-- quantitative marker column when applicable -->
        <th th:if="${type.quantitative}" style="width: 2%" th:title="#{label.analysis.type.quantitative}">
          <span th:text="#{label.assessment.impact}"></span>
        </th>

        <!-- impact columns per type (excluding generic IMPACT) -->
        <th th:each="impactType : ${impactTypes}" th:if="${impactType.name != 'IMPACT'}" style="text-align:center;">
          <span th:text="#{label.title.assessment.impact_{#strings.toLowerCase(impactType.name)}}"></span>
          <br/>
          <span th:text="#{label.assessment.impact_{#strings.toLowerCase(impactType.name)}}"></span>
        </th>
      </tr>

      <!-- non-qualitative header -->
      <tr th:unless="${type.qualitative}">
        <th style="width: 10%" th:title="#{label.assessment.asset}">
          <span th:text="#{label.assessment.asset}"></span>
        </th>
        <th style="width: 2%" th:title="#{label.assessment.asset.value}">
          <span th:text="#{label.assessment.asset.value}"></span>
        </th>
        <th style="width: 5%" th:title="#{label.title.impact}">
          <span th:text="#{label.assessment.impact}"></span>
        </th>
        <th style="width: 5%" th:title="#{label.title.likelihood}">
          <span th:text="#{label.assessment.likelihood}"></span>
        </th>

        <th:block th:if="${show_uncertainty}">
          <th style="width: 2%" th:title="#{label.title.uncertainty}">
            <span th:text="#{label.assessment.uncertainty}"></span>
          </th>
          <th style="width: 2%" th:title="#{label.title.aleo}">
            <span th:text="#{label.assessment.aleo}"></span>
          </th>
          <th style="width: 2%" th:title="#{label.title.ale}">
            <span th:text="#{label.assessment.ale}"></span>
          </th>
          <th style="width: 2%" th:title="#{label.title.alep}">
            <span th:text="#{label.assessment.alep}"></span>
          </th>
        </th:block>
        <th th:unless="${show_uncertainty}" style="width: 2%" th:title="#{label.title.ale}">
          <span th:text="#{label.assessment.ale}"></span>
        </th>

        <th style="width: 2%" th:title="#{label.title.owner}">
          <span th:text="#{label.title.owner}"></span>
        </th>
        <th style="width: 29%" th:title="#{label.assessment.comment}">
          <span th:text="#{label.assessment.comment}"></span>
        </th>

        <th th:if="${showHiddenComment}" style="width: 29%" th:title="#{label.assessment.hidden_comment}">
          <span th:text="#{label.assessment.hidden_comment}"></span>
        </th>
      </tr>
    </thead>

    <tbody>
      <!-- NA label once -->
      <th:block th:with="naParameterLabel=${'0-' + #messages.msg('label.parameter.label.na')}"></th:block>

      <tr th:each="assessment : ${assessments}"
          th:attr="data-trick-class=|Assessment|, data-trick-id=${assessment.id}">
        <td style="height: 32px;" th:title="#{label.status.na}">
          <span th:text="${assessment.asset.name}"></span>
        </td>

        <td th:title="${#numbers.formatDecimal(assessment.asset.value, 2)} + ' €'">
          <span th:text="${#numbers.formatDecimal(assessment.asset.value * 0.001, 0)}"></span>
        </td>

        <!-- Likelihood (qualitative path only shown in your snippet) -->
        <th:block th:with="likelihood=${assessment.likelihood}"></th:block>
        <th:block th:if="${type.qualitative}">
          <th:block th:if="${type.quantitative}">
            <th:block th:if="${likelihood == null}">
              <td class="editable"
                  th:attr="data-trick-field=|likelihood|, data-trick-field-type=|string|"
                  th:title="${naParameterLabel}"
                  th:onclick="|return editField(this);|">
                <span th:text="#{label.status.na}"></span>
              </td>
            </th:block>

            <th:block th:if="${likelihood != null}">
              <th:block th:if="${likelihood.raw == likelihood.real}">
                <th:block th:if="${likelihood.real == 0}">
                  <td class="editable"
                      th:attr="data-trick-field=|likelihood|, data-trick-field-type=|string|"
                      th:title="'0'"
                      th:attrappend="data-real-value=0"
                      th:onclick="|return editField(this);|">
                    <span th:text="#{label.status.na}"></span>
                  </td>
                </th:block>
                <th:block th:unless="${likelihood.real == 0}">
                  <td class="editable"
                      th:attr="data-trick-field=|likelihood|, data-trick-field-type=|string|"
                      th:title="${#numbers.formatDecimal(likelihood.real, 3)}"
                      th:attrappend="data-real-value=${likelihood.real}"
                      th:onclick="|return editField(this);|">
                    <span th:text="${likelihood.variable}"></span>
                  </td>
                </th:block>
              </th:block>
              <th:block th:unless="${likelihood.raw == likelihood.real}">
                <td class="editable"
                    th:attr="data-trick-field=|likelihood|, data-trick-field-type=|string|"
                    th:title="${#numbers.formatDecimal(likelihood.real, 3)}"
                    th:attrappend="data-real-value=${likelihood.raw}"
                    th:onclick="|return editField(this);|">
                  <span th:text="${likelihood.variable}"></span>
                </td>
              </th:block>
            </th:block>
          </th:block>

          <!-- Impact columns -->
          <th:block th:each="impactType : ${impactTypes}">
            <th:block th:if="${impactType.name != 'IMPACT'}"
                      th:with="impact=${assessment.getImpact(impactType.name)}">
              <th:block th:if="${impact == null || impact.level == 0}">
                <td class="editable"
                    th:attr="data-trick-field=${impactType.name}, data-trick-field-type=|string|"
                    th:title="${naParameterLabel}"
                    th:onclick="|return editField(this);|">
                  <span th:text="#{label.status.na}"></span>
                </td>
              </th:block>
              <th:block th:unless="${impact == null || impact.level == 0}">
                <td class="editable"
                    th:attr="data-trick-field=${impactType.name}, data-trick-field-type=|string|"
                    th:title="${#messages.msg(impact.level + '-' + impact.parameter.label)}"
                    th:onclick="|return editField(this);|">
                  <span th:text="${impact.level}"></span>
                </td>
              </th:block>
            </th:block>
          </th:block>

          <!-- Quantitative columns (when qualitative + quantitative) -->
          <th:block th:if="${type.quantitative}">
            <th:block th:if="${show_uncertainty}">
              <td class="editable"
                  th:attr="data-trick-field=|uncertainty|, data-trick-field-type=|double|"
                  th:attrappend="data-trick-min-value=1.0000000000001, data-real-value=${#numbers.formatDecimal(assessment.uncertainty, 2)}"
                  th:onclick="|return editField(this);|">
                <span th:text="${#numbers.formatDecimal(assessment.uncertainty, 2)}"></span>
              </td>
              <td th:title="${#numbers.formatDecimal(assessment.ALEO, 2)} + ' €'">
                <span th:text="${#numbers.formatDecimal(assessment.ALEO * 0.001, 1)}"></span>
              </td>
            </th:block>
            <td th:title="${#numbers.formatDecimal(assessment.ALE, 2)} + ' €'">
              <span th:text="${#numbers.formatDecimal(assessment.ALE * 0.001, 1)}"></span>
            </td>
            <th:block th:if="${show_uncertainty}">
              <td th:title="${#numbers.formatDecimal(assessment.ALEP, 2)} + ' €'">
                <span th:text="${#numbers.formatDecimal(assessment.ALEP * 0.001, 1)}"></span>
              </td>
            </th:block>
          </th:block>
        </th:block>

        <!-- Owner / Comment / Hidden Comment -->
        <td class="editable"
            th:onclick="|return editField(this);|"
            th:attr="data-trick-field=|owner|, data-trick-field-type=|string|">
          <span th:text="${assessment.owner}"></span>
        </td>
        <td class="editable"
            th:onclick="|return editField(this);|"
            th:attr="data-trick-field=|comment|, data-trick-field-type=|string|, data-trick-content=|text|">
          <span th:text="${assessment.comment}"></span>
        </td>

        <th:block th:if="${showHiddenComment}">
          <td class="editable"
              th:onclick="|return editField(this);|"
              th:attr="data-trick-field=|hiddenComment|, data-trick-field-type=|string|, data-trick-content=|text|">
            <span th:text="${assessment.hiddenComment}"></span>
          </td>
        </th:block>
      </tr>

      <!-- Totals row (quantitative) -->
      <th:block th:if="${type.quantitative}">
        <tr class="panel-footer" style="font-weight: bold;">
          <th:block th:if="${show_uncertainty}">
            <td th:attr="colspan=${impactTypes.size() + 4}">
              <span th:text="#{label.total.ale}"></span>
            </td>
            <td th:title="${#numbers.formatDecimal(aleo.value, 2)} + ' €'">
              <span th:text="${#numbers.formatDecimal(aleo.value * 0.001, 1)}"></span>
            </td>
            <td th:title="${#numbers.formatDecimal(ale.value, 2)} + ' €'">
              <span th:text="${#numbers.formatDecimal(ale.value * 0.001, 1)}"></span>
            </td>
            <td th:title="${#numbers.formatDecimal(alep.value, 2)} + ' €'">
              <span th:text="${#numbers.formatDecimal(alep.value * 0.001, 1)}"></span>
            </td>
          </th:block>
          <th:block th:unless="${show_uncertainty}">
            <td th:attr="colspan=${impactTypes.size() + 3}">
              <span th:text="#{label.total.ale}"></span>
            </td>
            <td th:title="${#numbers.formatDecimal(ale.value, 2)} + ' €'">
              <span th:text="${#numbers.formatDecimal(ale.value * 0.001, 1)}"></span>
            </td>
          </th:block>
          <td colspan="3"></td>
        </tr>
      </th:block>
    </tbody>
  </table>
</div>

</body>
</html>
