<th:block th:fragment="content">

    <div th:switch="${not #lists.isEmpty(assessments)}">
        <div th:case="true">
      <!-- TODO. Review if the folder exists
            <th:block th:include="fragments/assessments :: assessments"></th:block>
        -->
        </div>
        <div th:case="false">
            <div id="estimation-ui" th:data-view-type="'single'"
                 th:data-view-name="'estimation-ui'"
                 class="col-lg-10 col-md-9 trick-ui"
                 th:data-trick-asset-id="${asset.id}"
                 th:data-trick-scenario-id="${scenario.id}"
                 th:style="'padding-bottom: ' + (${show_cssf} ? '28' : '18') + 'px;'"
                 th:data-trick-content="'scenario'">
                <div th:switch="${type != null and type.qualitative}">
                    <div th:case="true">
                        <th:block th:include="templates/analyses/single/components/risk-estimation/scenario/form/qualitative :: content"></th:block>
                    </div>
                    <div th:case="false">
                        <div th:set="rowLength=${showHiddenComment ? 14 : 30}">
                            <th:block th:include="templates/analyses/single/components/risk-estimation/scenario/form/quantitative"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:switch="${not #lists.isEmpty(assessments)}">
        <div th:case="false">
            <div id="estimation-ui" th:data-view-type="'empty'"
                 th:data-view-name="'estimation-ui'"
                 class="col-lg-10 col-md-9 trick-ui"
                 th:data-trick-content="'scenario'"></div>
        </div>
    </div>

</th:block>
