<ul class="nav nav-tabs affix affix-top nav-analysis" th:fragment="analysis-menu">
    <li th:if="${isProfile != true}" class="active"><a href="#tab-history" data-toggle="tab" th:text="#{label.menu.analysis.history}">History</a></li>
    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="#{label.menu.analysis.risk_context}">Risk Context</span><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li th:if="${isProfile != true}"><a href="#tab-scope" data-toggle="tab" th:text="#{label.menu.analysis.item_information}">Item Information</a></li>
            <li th:if="${isProfile != true}" class="divider"></li>
            <li class="dropdown-header" th:text="#{label.menu.analysis_parameters}">Analysis parameters</li>
            <li><a href="#tab-parameter" data-toggle="tab" th:title="#{label.title.other.parameters}" th:text="#{label.menu.analysis.parameter}">Parameters</a></li>
            <li><a href="#tab-parameter-impact-probability" data-toggle="tab" th:text="#{label.menu.analysis.parameter.impact_probability}">Impact & Probability</a></li>
                <li th:if="${(type != null and type.quantitative == true) and (hasMaturity == true)}"><a href="#tab-parameter-maturity" data-toggle="tab" th:text="#{label.menu.analysis.parameter.maturity}">Maturity</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="#{label.menu.analysis.risk_analysis}">Risk Analysis</span><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li th:if="${isProfile != true}" class="dropdown-header" th:text="#{label.menu.analysis.qualitative_analysis}">Qualitative Analysis</li>
            <li th:if="${isProfile != true}"><a href="#tab-risk-information-threat" data-toggle="tab" th:text="#{label.menu.analysis.threat}">Threat</a></li>
            <li th:if="${isProfile != true}"><a href="#tab-risk-information-vul" data-toggle="tab" th:text="#{label.menu.analysis.vulnerability}">Vulnerability</a></li>
            <li th:if="${isProfile != true}"><a href="#tab-risk-information-risk" data-toggle="tab" th:text="#{label.menu.analysis.risk}">Risk</a></li>
            <li th:if="${isProfile != true}" class="divider"></li>
            <li class="dropdown-header" th:text="#{label.menu.analysis.quantitative_analysis}">Quantitative Analysis</li>
            <li th:if="${isProfile != true}"><a href="#tab-asset" data-toggle="tab" th:text="#{label.menu.analysis.asset}">Asset</a></li>
            <li><a href="#tab-scenario" data-toggle="tab" th:text="#{label.menu.analysis.scenario}">Scenario</a></li>
            <li th:if="${isProfile != true}"><a href="#tab-risk-estimation" data-toggle="tab" th:text="#{label.menu.analysis.risk_estimation}">Risk Estimation</a></li>
        </ul>
    </li>

    <li class="dropdown-submenu" id="tab-standard"><a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="#{label.menu.analysis.risk_treatment_compliance}"><span class="caret"></span></a>
        <ul class="dropdown-menu" id="standardmenu">
            <li class="dropdown-header" th:text="#{label.menu.analysis.standards}"></li>
            <li><a href="#tab-standards" data-toggle="tab" th:text="#{label.menu.analysis.view_by_collection}"></a></li>
            <li title="#{label.menu.view.measures}"><a href="#tab-measure-edition" data-toggle="tab" th:text="#{label.menu.analysis.view_by_measure}"></a></li>
            <div th:if="${(isProfile == true) or (isEditable == true)}">
                <li title="#{label.title.manage_standard}"><a href="#" onclick="return manageStandard();" th:text="#{label.menu.manage_standard}"></a></li>
            </div>
            <li class="divider"></li>
            <li class="dropdown-header" th:text="#{label.menu.analysis.implementation}"></li>
            <li><a href="#tab-phase" data-toggle="tab" th:text="#{label.menu.analysis.phase}"></a></li>
            <div th:if="${isProfile != true}">
                <li><a href="#tab-action-plan" data-toggle="tab" th:text="#{label.menu.analysis.action_plan}"></a></li>
            </div>
        </ul>
    </li>
    <div th:if="${isProfile != true}">
        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="#{label.menu.analysis.risk_communication}"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <div th:if="${soas != null and !#lists.isEmpty(soas)}">
                    <li><a href="#tab-soa" data-toggle="tab" th:text="#{label.menu.analysis.soa}"></a></li>
                </div>
                <li><a href="#tab-summary" data-toggle="tab" th:text="#{label.menu.analysis.summary}"></a></li>
                <div th:if="${type != null and type.qualitative}">
                    <div th:if="${type != null and type.qualitative == true}">
                    <li><a href="#tab-risk-register" data-toggle="tab" th:text="#{label.menu.analysis.risk_register}"></a></li>
                </div>
                <li class="divider"></li>
                <li class="dropdown-header" th:text="#{label.menu.analysis.chart}"></li>
                <li><a href="#tab-chart-compliance" data-toggle="tab" th:text="#{label.chart.compliance}"></a></li>
                    <div th:if="${type != null and type.qualitative == true}">
                        <div th:if="${type != null and type.quantitative == true}">
                        <li class="dropdown-header" th:text="#{label.menu.analysis.chart.qualitative}"></li>
                    </div>
                    <li><a href="#tab-chart-heat-map" data-toggle="tab" th:text="#{label.chart.risk_acceptance_heat_map}"></a></li>
                    <li><a href="#tab-chart-risk-asset" data-toggle="tab" th:text="#{label.chart.risk_by_assets}"></a></li>
                    <li><a href="#tab-chart-risk-asset-type" data-toggle="tab" th:text="#{label.chart.risk_by_asset_types}"></a></li>
                    <li><a href="#tab-chart-risk-scenario" data-toggle="tab" th:text="#{label.chart.risk_by_scenarios}"></a></li>
                    <li><a href="#tab-chart-risk-scenario-type" data-toggle="tab" th:text="#{label.chart.risk_by_scenario_types}"></a></li>
                </div>
                    <div th:if="${type != null and type.quantitative == true}">
                        <div th:if="${type != null and type.qualitative == true}">
                        <li class="dropdown-header" th:text="#{label.menu.analysis.chart.quantitative}"></li>
                    </div>
                    <li><a href="#tab-chart-asset" data-toggle="tab" th:text="#{label.chart.asset}"></a></li>
                    <li><a href="#tab-chart-scenario" data-toggle="tab" th:text="#{label.chart.scenario}"></a></li>
                    <li><a href="#tab-chart-evolution" data-toggle="tab" th:text="#{label.chart.evolution}"></a></li>
                    <li><a href="#tab-chart-budget" data-toggle="tab" th:text="#{label.chart.budget}"></a></li>
                    <div th:if="${showDynamicAnalysis == true}">
                        <li class="dropdown-header" th:text="#{label.menu.analysis.chart.dynamic}"></li>
                        <li><a href="#tab-chart-ale-evolution" data-toggle="tab" th:text="#{label.title.chart.aleevolution}"></a></li>
                        <li><a href="#tab-chart-ale-evolution-by-asset-type" data-toggle="tab" th:text="#{label.title.chart.aleevolution_by_asset_type}"></a></li>
                        <li><a href="#tab-chart-parameter-evolution" data-toggle="tab" th:text="#{label.title.chart.dynamic}"></a></li>
                    </div>
                </div>
            </ul>
        </li>
    </div>
    <li class="pull-right" data-role="analysis-menu-control">
        <a id="nav_menu_analysis_close" href="#" class="text-danger" title="#{label.action.close.analysis}">
            <i class="fa fa-sign-out fa-2x"></i>
        </a>
    </li>
    <li class="dropdown-submenu pull-right" data-role="analysis-menu-control">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="#{label.actions}">
            <i class="fa fa-cog fa-2x"></i>
        </a>
        <ul class="dropdown-menu" id="actionmenu">
            <div th:if="${isProfile != true}">
                <li class="dropdown-header" th:text="#{label.menu.title.manual.update}"></li>
                <div th:if="${(isEditable == true) and (type != null and type.qualitative == true)}">
                    <li><a href="#" onclick="return computeRiskProfileMeasure();" th:text="#{label.action.compute.risk_profile.measure}"></a></li>
                </div>
                <div th:choose>
                    <div th:when="${type != null and type.qualitative == true}">
                        <li><a href="#" onclick="return calculateAction();" th:text="#{label.action.compute.action_plan}"></a></li>
                    </div>
                    <div th:otherwise>
                        <li><a href="#" onclick="return displayActionPlanOptions();" th:text="#{label.action.compute.action_plan}"></a></li>
                        <div th:if="${isEditable != true}">
                            <li class="divider"></li>
                        </div>
                    </div>
                </div>
                <li><a href="#" onclick="return reloadCharts();" th:text="#{label.action.reload.charts}">Reload Charts</a></li>
                <li th:if="${isEditable == true}"><a href="#" onclick="return computeAssessment();" th:text="#{label.action.generate.missing}">Generate Missing</a></li>
                <li th:if="${(isEditable == true) and (type != null and type.quantitative == true) and (hasMaturity == true)}"><a href="#" onclick="return updateMeasureEffience(undefined, true)" th:text="#{label.action.update.efficiency}">Update Efficiency</a></li>
                <li th:if="${isEditable == true}" class="divider"></li>
                    <li th:if="${canExport == true}"><a href="#" th:onclick="|return exportDataManager(${analysisId != null ? analysisId : (analysis?.id ?: 0)});|" th:text="#{label.action.export}">Export</a></li>
                    <li><a href="#" th:onclick="|return importDataManager(${analysisId != null ? analysisId : (analysis?.id ?: 0)});|" th:text="#{label.action.import}">Import</a></li>
                    <li class="divider"></li>
                <li th:if="${((isProfile == true) or (isEditable == true)) and (type != null and type.quantitative)}"><a href="#" onclick="return loadRRF();" th:text="#{label.title.rrf}">RRF</a></li>
                <li th:if="${((isProfile == true) or (isEditable == true)) and (type != null and type.quantitative)}" class="divider"></li>
                <li th:if="${(isProfile == true) or (isEditable == true)}" class="dropdown-header" th:text="#{label.title.edit_mode}">Edit Mode</li>
                <li th:if="${(isProfile == true) or (isEditable == true)}"><a class="btn-group btn-group-xs clearfix"><span role="enterEditMode" class="btn btn-default" onclick="return enableEditMode()" th:text="#{label.action.edit_mode.open}">Open</span> <span role="leaveEditMode" class="btn btn-default active disabled" onclick="return disableEditMode()" th:text="#{label.action.edit_mode.close}">Close</span></a></li>
                <li th:if="${(isProfile != true) and (isEditable == true)}" class="divider"></li>
                <li th:if="${(isProfile != true) and (isEditable == true)}" class="dropdown-header" th:text="#{label.menu.settings}">Settings</li>
                <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageSOA();" th:text="#{label.action.manage.soa}">Manage SOA</a></li>
                <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageImpactScale();" th:text="#{label.action.manage.impact}">Manage Impact</a></li>
                <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageScaleLevel();" th:text="#{label.action.manage.scale.level}">Manage Scale Level</a></li>
                <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageAnalysisSettings();" th:text="#{label.action.analysis.setting}">Analysis Settings</a></li>
        </ul>
    </li>
    <li class="pull-right" data-role="analysis-menu-control"><a id="nav_menu_analysis_close" th:href="@{/Analysis/Deselect}" class="text-danger" th:title="#{label.action.close.analysis}"><i class="fa fa-sign-out fa-2x"></i></a></li>
    <li class="dropdown-submenu pull-right" data-role="analysis-menu-control"><a href="#" class="dropdown-toggle" data-toggle="dropdown" th:title="#{label.actions}"><i class="fa fa-cog fa-2x"></i></a>
        <ul class="dropdown-menu" id="actionmenu">
            <li th:if="${isProfile != true}" class="dropdown-header" th:text="#{label.menu.title.manual.update}">Manual Update</li>
            <li th:if="${(isProfile != true) and (isEditable == true) and (type != null and type.qualitative == true)}"><a href="#" onclick="return computeRiskProfileMeasure()" th:text="#{label.action.compute.risk_profile.measure}">Compute Risk Profile Measure</a></li>
            <li th:if="${(isProfile != true) and (type != null and type.qualitative == true)}"><a href="#" onclick="return calculateAction()" th:text="#{label.action.compute.action_plan}">Compute Action Plan</a></li>
            <li th:if="${(isProfile != true) and (type == null or (type != null and (type.qualitative != true)))}"><a href="#" onclick="return displayActionPlanOptions()" th:text="#{label.action.compute.action_plan}">Compute Action Plan</a></li>
            <li th:if="${(isProfile != true) and (type == null or (type != null and (type.qualitative != true))) and (isEditable != true)}" class="divider"></li>
            <li th:if="${isProfile != true}"><a href="#" onclick="return reloadCharts();" th:text="#{label.action.reload.charts}">Reload Charts</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return computeAssessment();" th:text="#{label.action.generate.missing}">Generate Missing</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true) and (type != null and type.quantitative == true) and (hasMaturity == true)}"><a href="#" onclick="return updateMeasureEffience(undefined, true)" th:text="#{label.action.update.efficiency}">Update Efficiency</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}" class="divider"></li>
            <li th:if="${(isProfile != true) and (isEditable == true) and (canExport == true)}"><a href="#" th:onclick="|return exportDataManager(${analysisId != null ? analysisId : (analysis?.id ?: 0)});|" th:text="#{label.action.export}">Export</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" th:onclick="|return importDataManager(${analysisId != null ? analysisId : (analysis?.id ?: 0)});|" th:text="#{label.action.import}">Import</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}" class="divider"></li>
            <li th:if="${((isProfile == true) or (isEditable == true)) and (type != null and type.quantitative == true)}"><a href="#" onclick="return loadRRF();" th:text="#{label.title.rrf}">RRF</a></li>
            <li th:if="${((isProfile == true) or (isEditable == true)) and (type != null and type.quantitative == true)}" class="divider"></li>
            <li th:if="${(isProfile == true) or (isEditable == true)}" class="dropdown-header" th:text="#{label.title.edit_mode}">Edit Mode</li>
            <li th:if="${(isProfile == true) or (isEditable == true)}"><a class="btn-group btn-group-xs clearfix"><span role="enterEditMode" class="btn btn-default" onclick="return enableEditMode()" th:text="#{label.action.edit_mode.open}">Open</span> <span role="leaveEditMode" class="btn btn-default active disabled" onclick="return disableEditMode()" th:text="#{label.action.edit_mode.close}">Close</span></a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}" class="divider"></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}" class="dropdown-header" th:text="#{label.menu.settings}">Settings</li>
            <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageSOA();" th:text="#{label.action.manage.soa}">Manage SOA</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageImpactScale();" th:text="#{label.action.manage.impact}">Manage Impact</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageScaleLevel();" th:text="#{label.action.manage.scale.level}">Manage Scale Level</a></li>
            <li th:if="${(isProfile != true) and (isEditable == true)}"><a href="#" onclick="return manageAnalysisSettings();" th:text="#{label.action.analysis.setting}">Analysis Settings</a></li>
        </ul>
    </li>
    <li id="tabOption" style="display: none;" class="dropdown-submenu pull-right" data-role="analysis-menu-control"><a href="#" th:title="#{label.options}" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-bars fa-2x"></span></a></li>
