<div th:fragment="home">
    <div th:if="${assessments != null}">
        <!-- Include the assessments fragment -->
        <div th:replace="templates/analyses/single/components/risk-estimation/asset/assessments :: assessments"></div>
    </div>

    <div th:if="${assessment != null}">
        <div id="estimation-ui"
             class="col-lg-10 col-md-9 trick-ui"
             data-view-type="single"
             data-view-name="estimation-ui"
             th:attr="data-trick-asset-id=${asset.id},
                      data-trick-scenario-id=${scenario.id},
                      data-trick-content='asset'">
            <!-- TODO: Qualitative/Quantitative forms. These templates are not present yet, so they are omitted to avoid resolution errors. -->
        </div>
    </div>

    <div th:if="${assessments == null and assessment == null}">
        <div id="estimation-ui"
             class="col-md-9 trick-ui"
             data-view-type="empty"
             data-view-name="estimation-ui"
             data-trick-asset-id="-2"
             data-trick-scenario-id="-2"
             data-trick-content="asset">
        </div>
    </div>
</div>
