<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Estimation UI</title>
</head>
<body>
    <div th:if="${assessments != null}">
        <div th:replace="templates/analyses/single/components/risk-estimation/asset/assessments"></div>
    </div>

    <div th:if="${assessment != null}">
        <div id="estimation-ui"
             class="col-lg-10 col-md-9 trick-ui"
             data-view-type="single"
             data-view-name="estimation-ui"
             th:attr="data-trick-asset-id=${asset.id}, 
                      data-trick-scenario-id=${scenario.id}, 
                      data-trick-content='asset'">

            <div th:if="${type.qualitative}">
                <div th:replace="templates/analyses/single/components/risk-estimation/asset/form/qualitative"></div>
            </div>
            <div th:unless="${type.qualitative}">
                <div th:with="rowLength=${showHiddenComment} ? 14 : 30">
                    <div th:replace="templates/analyses/single/components/risk-estimation/asset/form/quantitative"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${assessments == null and assessment == null}">
        <div id="estimation-ui"
             class="col-md-9 trick-ui"
             data-view-type="empty"
             data-view-name="estimation-ui"
             data-trick-asset-id="-2"
             data-trick-scenario-id="-2"
             data-trick-content="asset">
        </div>
    </div>
</body>
</html>
