<div class="modal fade" id="buildAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="buildAnalysisModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 840px;">
        <div class="modal-content" style="height: 100%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" th:text="#{label.title.build.analysis}">Build an analysis</h4>
            </div>
            <div class="modal-body" style="padding-top: 2px;">
                <ul class="nav nav-tabs" role="tablist" style="margin-top: 0px;">
                    <li class="active" role="tab_group_1">
                        <a href="#group_1" data-toggle="tab" th:text="#{label.menu.build.analyis.default}">Default</a>
                    </li>
                    <li>
                        <a href="#group_2" data-toggle="tab" th:attr="data-helper-content=#{help.analysis.advance}" th:text="#{label.menu.build.analyis.advance}">Advance</a>
                    </li>
                    <li class="col-sm-8 pull-right" id="build-analysis-modal-error"></li>
                </ul>

                <form th:action="@{/}" class="form-horizontal tab-content" id="tabs" style="overflow-x: hidden; overflow-y: auto; height: 610px;">
                    <div id="group_1" class="tab-pane active" style="padding-top: 10px;">
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label" th:attr="data-helper-content=#{help.analysis.type}" th:text="#{label.analysis.type}">Type</label>
                            <div class="col-sm-10" align="center">
                                <div class="btn-group" data-toggle="buttons">
                                    <div th:each="type, status : ${types}">
                                        <label class="btn btn-default" th:classappend="${status.index == 1} ? ' active'">
                                            <span th:text="#{label.analysis.type.${#strings.toLowerCase(type)}}">Type</span>
                                            <input type="radio" name="type" th:value="${type}" th:checked="${status.index == 1}" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dataSource" class="col-sm-2 control-label" th:attr="data-helper-content=#{help.analysis.datasource}" th:text="#{label.datasource}">Datasource</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="dataSource" name="dataSource" th:field="*{dataSource}">
                                    <option value="" th:text="#{label.datasource.default}">Choose a source</option>
                                    <option th:each="ds : ${datasources}" th:value="${ds}" th:text="${ds}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="view" class="col-sm-2 control-label" th:attr="data-helper-content=#{help.analysis.view}" th:text="#{label.analysis.view}">View</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="view" name="view" th:field="*{view}">
                                    <option th:text="#{label.view.default}">Select a view</option>
                                    <option th:each="view : ${views}" th:value="${view}" th:text="${view}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="group_2" class="tab-pane" style="padding-top: 10px;">
                        <div class="form-group">
                            <label for="query" class="col-sm-2 control-label" th:attr="data-helper-content=#{help.analysis.query}" th:text="#{label.analysis.query}">Query</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="query" id="query" style="min-height: 250px; font-family: monospace; font-size: 12px;" th:field="*{query}"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="params" class="col-sm-2 control-label" th:text="#{label.analysis.query.params}">Parameters</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="params" id="params" style="min-height: 100px; font-family: monospace; font-size: 12px;" th:field="*{params}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="submitBtn" th:text="#{label.analysis.button.submit}">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{label.analysis.button.cancel}">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
