<!DOCTYPE html>
<html lang="*{#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{templates/template/header :: header('label.title.home')}"></head>

<body>
    <div id="wrap">
        <div th:replace="~{templates/template/menu :: main-menu(${menu}, ${analysisSharedCount})}"></div>
        <div class="container" data-ug-root="home">
            <div class="content" id="content">
                <div style="margin-top: 100px; display: block;">
                    <div class="home-logo">
                        <img class="center-block"
                             th:alt="#{label.logo}"
                             th:src="@{/images/brand.png}" />
                    </div>
                    <hr>
                </div>

                <div style="position: fixed; right: 40px; bottom: 35px;">
                    <strong style="float: right;" th:text="#{label.entity.support}">Support</strong>
                    <div style="display: inline-block; clear: both; float: right;">
                        <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/cyfort.png}" />
                        <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/atena.png}" />
                        <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/diamonds.jpg}" />
                        <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/cockpitci.jpg}" />
                        <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/trespass.png}" />
                        <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/itea2.jpg}" />
                        <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/seventh_framework_programme.png}" />

                        <div style="border-top: 1px #3e3e3e solid; display: inline-block; padding-top: 10px;">
                            <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/ministere_eco.jpg}" />
                            <img class="support-logo" th:alt="#{label.logo}" th:src="@{/images/support/eu.jpg}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{templates/template/footer :: footer}"></div>
    </div>

    <div th:replace="~{templates/template/scripts :: scripts}"></div>
</body>
</html>
