<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="${#locale.language}">
<head th:replace="~{templates/template/header :: header('label.title.signin')}"></head>

<body>
<div id="wrap">
    <div class="container">
        <img class="center-block" th:alt="#{label.logo}" th:src="@{/images/brand.png}" style="height: 200px;"/>

        <div class="form-signin" id="login" style="margin: 0 auto; max-width: 330px;">
            <h2 class="form-signin-heading" th:text="#{label.title.login}">Sign in</h2>

            <div th:if="${allowRegister}">
                <a class="navbar-link pull-right" style="margin-top: -30px;" th:href="@{/Register}" th:text="#{label.signup}">Sign up</a>
            </div>

            <!-- Success/Error Messages -->
            <div th:replace="~{templates/template/successErrors :: successErrors}"></div>

            <form id="login_form" th:action="@{/Signin}" method="post">
                <div class="form-group">
                    <input id="username"
                           name="username"
                           class="form-control"
                           th:placeholder="#{label.signin.login}"
                           required
                           autofocus
                           th:value="${username}" />
                </div>

                <div class="form-group">
                    <input type="password"
                           name="password"
                           class="form-control"
                           th:placeholder="#{label.signin.password}"
                           required
                           th:value="${password}" />
                </div>

                <div class="form-group" th:if="${resetPassword}">
                    <a class="navbar-link pull-right" th:href="@{/ResetPassword}" th:text="#{label.reset.password}">Reset password</a>
                </div>

                <!-- CSRF Token -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="form-group">
                    <button type="submit"
                            id="login_signin_button"
                            class="btn btn-danger navbar-btn"
                            style="width: 100%;"
                            th:text="#{label.action.signin}">Sign in</button>

                    <a href="#" id="login_reload_button"
                       th:href="@{/}"
                       th:title="#{label.info.reload.token.expired}"
                       class="btn btn-primary navbar-btn"
                       style="width: 100%; display: none;"
                       th:text="#{label.action.reload}">Reload</a>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{templates/template/footer :: footer}"></div>
    <div th:replace="~{templates/template/scripts :: scripts}"></div>

    <!-- Timeout Script -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        setTimeout(function () {
            const $errorMessage = $("<div class='alert alert-danger'>" +
                "<a href='#' class='close' data-dismiss='alert' style='margin-right: -10px; margin-top: -12px'>×</a> " +
                /*[[#{label.info.reload.token.expired}]]*/ '' +
                " </div>");

            const $error = $("#error");

            if ($error.length) {
                $error.replaceWith($errorMessage);
            } else {
                $("#login_form").before($errorMessage);
            }

            $('#login_form button,input').prop("disabled", true);
            $('#login_reload_button').show();
            $("#login_signin_button").hide();
        }, 899400);
        /*]]>*/
    </script>
</div>
</body>
</html>
