<div class="col-sm-6 impact-quantitaitve" data-type="${type}">
    <fieldset id="Scale_Impact">
        <legend>
            <span th:if="${type.qualitative}">
                <span th:text="#{label.title.parameter.quantitative.impact}"></span>
            </span>
            <span th:if="${not type.qualitative}">
                <span th:text="#{label.title.parameter.extended.impact}"></span>
            </span>
        </legend>
        <table class="table table-hover table-fixed-header-analysis table-condensed">
            <thead>
                <tr>
                    <th class="textaligncenter" width="1%">
                        <span th:text="#{label.parameter.level}"></span>
                    </th>
                    <th class="textaligncenter" width="1%">
                        <span th:text="#{label.parameter.acronym}"></span>
                    </th>
                    <th data-th-name="qualification">
                        <span th:text="#{label.parameter.qualification}"></span>
                    </th>
                    <th class="textaligncenter" width="8%">
                        <span th:text="#{label.parameter.value}"></span> k&euro;
                    </th>
                    <th class="textaligncenter" width="8%">
                        <span th:text="#{label.parameter.range.min}"></span>
                    </th>
                    <th class="textaligncenter" width="8%">
                        <span th:text="#{label.parameter.range.max}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="parameter, status : ${mappedParameters['IMPACT']}">
                    <td class="textaligncenter" th:text="${parameter.level}"></td>
                    <td data-trick-field="acronym" data-trick-field-type="string" class="textaligncenter" th:text="${parameter.acronym}"></td>
                    <td data-trick-field="description" data-trick-content="text" data-trick-field-type="string" class="editable" th:text="${parameter.description}" onclick="return editField(this);"></td>
                    <td data-trick-field="value" data-trick-field-type="double" th:title="${#numbers.formatDecimal(parameter.value, 0, 'COMMA', 'POINT') + '€'}" onclick="return editField(this);" class="editable textaligncenter">
                        <span th:text="${#numbers.formatDecimal(parameter.value * 0.001, 0, 'COMMA', 'POINT')}"></span>
                    </td>
                    <td class="textaligncenter">
                        <span th:text="${#numbers.formatDecimal(parameter.bounds.from * 0.001, 0, 'COMMA', 'POINT')}"></span>
                    </td>
                    <td class="textaligncenter">
                        <span th:if="${status.index != mappedParameters['IMPACT'].size() - 1}">
                            <span th:text="${#numbers.formatDecimal(parameter.bounds.to * 0.001, 0, 'COMMA', 'POINT')}"></span>
                        </span>
                        <span th:if="${status.index == mappedParameters['IMPACT'].size() - 1}">
                            <span style="font-size: 17px;">+&#8734;</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
