<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <th:block th:with="mappedParameters=${T(lu.itrust.business.ts.model.analysis.helper.AnalysisUtils).SplitParameters(parameters != null ? parameters : {})}">
        <!-- Include other pages (whole file, not fragment) -->
        <div th:replace="~{templates/analyses/single/components/parameters/other}"></div>

        <div th:replace="~{templates/analyses/single/components/parameters/impact_probability}"></div>

        <!-- Conditional block for quantitative type and maturity -->
        <div th:if="${type != null and type.quantitative and (hasMaturity == true)}">
            <div th:replace="~{templates/analyses/single/components/parameters/maturity/home}"></div>
        </div>
    </th:block>

</body>
</html>
