<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:object="${locale}" th:if="${locale != null}">
        <div th:field="*{locale}" th:value="'fr'"></div>
    </div>

    <div class="tab-pane" id="tab-parameter-impact-probability">
        <div class="section" id="section_parameter_impact_probability">
            <div class="page-header tab-content-header">
                <div class="container">
                    <div class="row">
                        <h3 th:text="#{label.title.impact_probability}"></h3>
                    </div>
                </div>
            </div>

            <div th:switch="${type != null and type.quantitative}">
                <div th:case="true">
                    <div class="row">
                        <div th:replace="~{templates/analyses/single/components/parameters/impact/financial}"></div>
                        <div th:replace="~{templates/analyses/single/components/parameters/probability/likelihood}"></div>
                        <div th:replace="~{templates/analyses/single/components/parameters/probability/dynamic}"></div>
                    </div>
                </div>

                <div th:case="false">
                    <div th:if="${type != null and type.quantitative}">
                        <div class="row">
                            <div th:replace="~{templates/analyses/single/components/parameters/probability/likelihood}"></div>
                            <div th:replace="~{templates/analyses/single/components/parameters/impact/financial}"></div>
                        </div>
                    </div>
                    <div th:replace="~{templates/analyses/single/components/parameters/impact/qualitative}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
