<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="hostName" value="${bundle:deployment:app.settings.otp.name}" />
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t] %-5p %c - %m%n" />
		</Console>
		<!-- <Socket name="RemoteLogger" host="${bundle:deployment:app.settings.logger.server.host}" port="${bundle:deployment:app.settings.logger.server.port}" ReconnectionDelay="10000" protocol="SSL">
			<LogstashLayout />
		</Socket> -->
	</Appenders>
	<Loggers>
		<!-- <Asynclogger name="TrickLogManager" level='DEBUG'>
			<AppenderRef ref="RemoteLogger" />
		</Asynclogger> -->
		
		<logger name="org.docx4j" level='ERROR' />
		
		<logger name="org.docx4j.jaxb.JaxbValidationEventHandler" level='ERROR' />
		
		<logger name="org.docx4j.jaxb.NamespacePrefixMapperUtils" level='ERROR' />
		
		<logger name="org.docx4j.openpackaging.contenttype.ContentTypeManager" level='ERROR' />
		
		<logger name="org.docx4j.utils.XSLTUtils" level='ERROR' />
		
		<logger name="org.hibernate" level='WARN' />
		
		<logger name="org.hibernate.type" level='WARN' />
			
		<logger name="org.springframework.security" level='WARN' />
	
		<logger name="org.springframework.web" level='WARN' />
		
		<logger name="org.xlsx4j.jaxb.Context" level='WARN' />
		
		<logger name="stdout.org.springframework" level='WARN' />
		
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>