<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${locale.language}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{label.menu.analysis.list}">List of Analyses</title>
  <div th:replace="~{templates/template/header :: header('label.title.analysis')}"></div>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

  <script th:inline="javascript">
    var context = /*[[@{/}]]*/ "/";
  </script>
</head>
<body>

<div th:with="user=${#authentication != null ? #authentication.principal : null}">
  <ul>
    <li th:if="${ticketingURL != null and allowedTicketing != null and allowedTicketing}">
      <a th:href="@{${ticketingURL}}">
        <span th:text="#{label.menu.link.project(${ticketingName})}">Project Link</span>
      </a>
    </li>
  </ul>

  <table class="table" id="analysesTable">
    <thead>
      <tr>
        <th th:text="#{label.analysis}">Analysis</th>
        <th th:text="#{label.customer}">Customer</th>
        <th th:text="#{label.creation.date}">Created</th>
        <th th:text="#{label.owner}">Owner</th>
      </tr>
    </thead>
    <tbody id="analysesBody">
      <tr th:each="analysis : ${analyses}">
        <td><a th:href="@{|/Analysis/${analysis.id}|}" th:text="${analysis.name}">Name</a></td>
        <td th:text="${analysis.customer.organisation}"></td>
        <td th:text="${#dates.format(analysis.creationDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${analysis.owner.login}"></td>
      </tr>
    </tbody>
  </table>
</div>



<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>


<script>
(function($){
  if (!$ || !$.ajax) return;
  var _ajax = $.ajax;
  $.ajax = function(opts){
    try {
      var m = (opts && opts.type) || "GET";
      var u = (opts && opts.url) || "(no url)";
      console.log("AJAX →", m, u, opts && opts.data);
    } catch(e){}
    return _ajax.apply(this, arguments);
  };
})(window.jQuery);
</script>


<script th:src="@{/js/jquery.idle.js}"></script>
<script th:src="@{/js/bootstrap/stickyTableHeaders.js}"></script>
<script th:src="@{/js/main.js}"></script>


<script th:src="@{/js/trickservice/analyses.js}"></script>
<script th:src="@{/js/trickservice/analysisExport.js}"></script>
<script th:if="${allowedTicketing != null and allowedTicketing}"
        th:src="@{/js/trickservice/ticketing-system.js}"></script>

</body>
</html>
