<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${locale.language}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{label.menu.analysis.list}">List of Analyses</title>
  <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
</head>
<body>

<div th:with="user=${#authentication != null ? #authentication.principal : null}">
  <ul>
    <li th:if="${allowedTicketing and ticketingURL != null}">
      <a th:href="@{${ticketingURL}}">
        <span th:text="#{label.menu.link.project(${ticketingName})}">Project Link</span>
      </a>
    </li>
    ...
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th th:text="#{label.analysis}">Analysis</th>
        <th th:text="#{label.customer}">Customer</th>
        <th th:text="#{label.creation.date}">Created</th>
        <th th:text="#{label.owner}">Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="analysis : ${analyses}">
        <td><a th:href="@{|/Analysis/${analysis.id}|}" th:text="${analysis.name}">Name</a></td>
        <td th:text="${analysis.customer.organisation}"></td>
        <td th:text="${#dates.format(analysis.creationDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${analysis.owner.login}"></td>
      </tr>
    </tbody>
  </table>
</div>


<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>

<script th:src="@{/js/trickservice/analyses.js}"></script>
<script th:src="@{/js/trickservice/analysisExport.js}"></script>
<script th:if="${allowedTicketing}" th:src="@{/js/trickservice/ticketing-system.js}"></script>

</body>
</html>
