<div th:fragment="content" th:if="${type != null and type.quantitative and (showDynamicAnalysis == true)}" class="col-md-6 probability-dynamic">
    <fieldset id="DynamicParameters">
        <legend>
            <span th:text="#{label.parameter.dynamic.probability}"></span>
            <span class="pull-right" th:if="${isEditable == true}">
                <span style="margin-right:10px" th:text="#{label.display.exclude.dynamic.parameter}"></span>
                <div class="material-switch pull-right">
                    <input id="display-exclude-dynamic-parameter" name="display-exclude-dynamic-parameter" 
                           th:checked="${showExcludeDynamic}" th:onchange="swtichExcludeDynamic(this)" type="checkbox"/>
                    <label for="display-exclude-dynamic-parameter" class="label-success"></label>
                </div>
            </span>
        </legend>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="textaligncenter" th:text="#{label.parameter.acronym}"></th>
                    <th class="textaligncenter" th:text="#{label.parameter.value}"></th>
                    <th th:if="${isEditable == true}" class="textaligncenter" data-name="action" th:text="#{label.action}"></th>
                </tr>
            </thead>
            <tbody th:with="dynamicList=${(mappedParameters != null and mappedParameters['DYNAMIC'] != null) ? mappedParameters['DYNAMIC'] : {}}">
                <tr th:each="parameter, status : ${dynamicList}" 
                    th:data-trick-class="'DynamicParameter'" th:data-trick-id="${parameter.id}"
                    th:with="dynamicAcronym=${#messages.get(parameter.acronym)}">
                    <td data-trick-field="acronym" data-trick-field-type="string" class="textaligncenter" th:text="${dynamicAcronym}"></td>
                    <td data-trick-field="value" class="textaligncenter" th:text="${#numbers.formatDecimal(parameter.value != null ? parameter.value : 0, 4, 4)}"></td>
                    <td th:if="${isEditable == true}" class="text-center" data-name="action">
                        <button class="btn btn-danger" th:onclick="|deleteDynamicParameter(${parameter.id}, '${dynamicAcronym}')|">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr th:if="${(showExcludeDynamic == true) and (excludeAcronyms != null) and !excludeAcronyms.isEmpty()}" data-trick-class="ExcludeDynamicParameter">
                    <th class="textaligncenter" colspan="3" th:text="#{label.exclude.dynamic.parameters}"></th>
                </tr>
                <th:block th:if="${(showExcludeDynamic == true) and (excludeAcronyms != null) and !excludeAcronyms.isEmpty()}">
                    <tr th:each="entry : ${excludeAcronyms.entrySet()}" data-trick-class="ExcludeDynamicParameter" data-trick-id="${entry.key}">
                        <td class="textaligncenter" th:text="${entry.key}"></td>
                        <td class="textaligncenter" th:text="${#numbers.formatDecimal(entry.value != null ? entry.value : 0, 4, 4)}"></td>
                        <td th:if="${isEditable == true}" class="text-center" data-name="action">
                            <button class="btn btn-warning" th:onclick="|restoreDynamicParameter('${entry.key}')|">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </button>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </fieldset>
</div>
