<div id="tab-broadcasting" class="tab-pane" data-update-required="true" data-trigger="loadNotification">
    <div id="section_notification">
        <ul class="nav nav-pills bordered-bottom" id="menu_customer">
            <li data-trick-ignored="true">
                <a id="btn-add-notification" href="#">
                    <span class="glyphicon glyphicon-plus primary"></span>
                    <span th:text="#{label.action.add}">Add</span>
                </a>
            </li>
            <li id="btn-clear-notification" class="pull-right">
                <a href="#" class="text-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span th:text="#{label.action.clear}">Clear</span>
                </a>
            </li>
        </ul>
        <div class="row" id="notification-content" style="margin-top: 10px;">
        </div>
    </div>
</div>
