<th:block th:fragment="content">
<th:block
  th:with="
    lang=${(locale != null ? locale : #locale.getDefault()).language},
    statusM=${#messages.msg('label.measure.status.m')},
    statusAP=${#messages.msg('label.measure.status.ap')},
    statusOP=${#messages.msg('label.measure.status.op')},
    statusEX=${#messages.msg('label.measure.status.ex')},
    statusNA=${#messages.msg('label.measure.status.na')},
    titleStatusM=${#messages.msg('label.title.measure.status.m')},
    titleStatusAP=${#messages.msg('label.title.measure.status.ap')},
    titleStatusOP=${#messages.msg('label.title.measure.status.op')},
    titleStatusEX=${#messages.msg('label.title.measure.status.ex')},
    titleStatusNA=${#messages.msg('label.title.measure.status.na')},
    imp1=${#messages.msg('label.measure.importance.value', 1)},
    imp2=${#messages.msg('label.measure.importance.value', 2)},
    imp3=${#messages.msg('label.measure.importance.value', 3)},
    titleImp1=${#messages.msg('label.title.measure.importance.value', 1)},
    titleImp2=${#messages.msg('label.title.measure.importance.value', 2)},
    titleImp3=${#messages.msg('label.title.measure.importance.value', 3)},
  implementationRate=${measure.getImplementationRateValue(valueFactory)},
  implementationRateValue=${#numbers.formatDecimal(implementationRate != null ? implementationRate : 0,0,0)},
    css=${implementationRate < 100 and not (measure.status == 'NA' or measure.status == 'EX') ? 'editable' : ''},
    todoCSS=${measure.toDo == null and css.contains('editable') ? 'danger' : css},
    measureDescriptionText=${measure.measureDescription.getMeasureDescriptionTextByAlpha2(lang)},
    hasTicket=${isLinkedToProject and measure.ticket != null}
  ">

</table>
</th:block>
</th:block>
               data-is-linked=${hasTicket}"
      th:onclick="|selectElement(this); reloadMeasureRow('${measure.id}','${standardid}');|"
  th:ondblclick="${(isEditable == true) and ((analysisOnly == true) or (type == 'quantitative' and measure.measureDescription.computable and selectedStandard.computable and selectedStandard.type != 'MATURITY'))} ? |return editMeasure(this, ${standardid}, ${measure.id});| : null"
      class="active">

  <td th:if="${(isLinkedToProject == true) or ((analysisOnly == true) and (isEditable == true))}">
      <input type="checkbox"
             th:disabled="${analysisOnly}"
             class="checkbox"
             th:onchange="|updateMenu(this,'#section_standard_${standardid}','#menu_standard_${standardid}');|">
    </td>

    <td>
      <div th:if="${hasTicket}">
        <div th:if="${isNoClientTicketing}">
          <span style="white-space: nowrap;">
            <i class="fa fa-paper-plane" style="font-size: 8px;" aria-hidden="true"></i>
            <span th:text="${measure.measureDescription.reference}"></span>
          </span>
        </div>
        <div th:unless="${isNoClientTicketing}">
          <span th:utext="${ticketLink}"></span>
        </div>
      </div>
      <div th:unless="${hasTicket}">
        <div th:if="${isNoClientTicketing}">
          <span style="white-space: nowrap;">
            <i class="fa fa-paper-plane-o" style="font-size: 8px;" aria-hidden="true"></i>
            <span th:text="${measure.measureDescription.reference}"></span>
          </span>
        </div>
        <div th:if="${isLinkedToProject}">
          <span style="white-space: nowrap;">
            <i class="fa fa-chain-broken" style="font-size: 10px" aria-hidden="true"></i>
            <span th:text="${measure.measureDescription.reference}"></span>
          </span>
        </div>
        <div th:unless="${isNoClientTicketing or isLinkedToProject}">
          <span th:text="${measure.measureDescription.reference}"></span>
        </div>
      </div>
    </td>

    <td>
      <span th:text="${!empty measureDescriptionText ? measureDescriptionText.domain : ''}"></span>
    </td>

    <td th:onclick="|return editField(this);|"
        th:attr="data-trick-field=|toCheck|, data-trick-field-type=|string|">
      <span th:text="${measure.toCheck}"></span>
    </td>

    <td th:onclick="|return editField(this);|"
        th:attr="data-trick-field=|comment|, data-trick-field-type=|string|">
      <span th:text="${measure.comment}"></span>
    </td>

    <td></td>
  </tr>

  <tr th:unless="${measure.measureDescription.computable}"
      th:attr="data-trick-class=|Measure|,
               data-trick-id=${measure.id},
               data-trick-reference=${measure.measureDescription.reference},
               data-is-linked=${isLinkedToProject and not empty measure.ticket}"
      th:onclick="|selectElement(this); reloadMeasureRow('${measure.id}','${standardid}');|">

    <td th:if="${isLinkedToProject or (analysisOnly and isEditable)}">
      <input type="checkbox"
             th:disabled="${measure.status == 'NA' or measure.status == 'EX'}"
             class="checkbox"
             th:onchange="|updateMenu(this,'#section_standard_${standardid}','#menu_standard_${standardid}');|">
    </td>

    <td>
      <span th:text="${!empty measureDescriptionText ? measureDescriptionText.domain : ''}"></span>
    </td>

    <td th:attr="data-trick-field=|status|,
                 data-trick-choose=|M,AP,OP,EX,NA|,
                 data-trick-choose-translate=|${statusM},${statusAP},${statusOP},${statusEX},${statusNA}|,
                 data-trick-choose-title=|${titleStatusM},${titleStatusAP},${titleStatusOP},${titleStatusNA}|,
                 data-trick-field-type=|string|,
                 data-trick-callback=|reloadMeasureAndCompliance('${standardid}','${measure.id}')|"
        th:onclick="|return editField(this);|">
      <span th:switch="${measure.status}">
        <span th:case="'NA'" th:text="${statusNA}"></span>
        <span th:case="'AP'" th:text="${statusAP}"></span>
        <span th:case="'OP'" th:text="${statusOP}"></span>
        <span th:case="'EX'" th:text="${statusEX}"></span>
        <span th:default="true" th:text="${statusM}"></span>
      </span>
    </td>

  <td th:if="${standardType != null and standardType.name == 'MATURITY'}"
        th:attr="data-trick-field=|implementationRate|,
                 data-trick-class=|MaturityMeasure|,
                 data-trick-field-type=|double|,
                 data-trick-callback=|reloadMeasureAndCompliance('${standardid}','${measure.id}');updateMeasureEffience('${measure.measureDescription.reference}');|"
        th:title="${implementationRateValue} %"
        th:onclick="|return editField(this);|">
      <span th:text="${implementationRateValue}"></span>
    </td>

  <td th:unless="${standardType != null and standardType.name == 'MATURITY'}"
        th:attr="data-trick-field=|implementationRate|,
                 data-trick-field-type=|string|,
                 data-trick-callback=|reloadMeasureAndCompliance('${standardid}','${measure.id}')|"
        th:title="${implementationRateValue} %"
        th:onclick="|return editField(this);|">
      <span th:text="${implementationRateValue}"></span>
    </td>

    <td th:attr="data-trick-field=|internalWL|, data-trick-field-type=|double|"
        th:data-trick-min-value="0"
        th:onclick="|return editField(this);|">
  <span th:text="${#numbers.formatDecimal(measure.internalWL != null ? measure.internalWL : 0,0,2)}"></span>
    </td>

    <td th:attr="data-trick-field=|externalWL|, data-trick-field-type=|double|"
        th:data-trick-min-value="0"
        th:onclick="|return editField(this);|">
  <span th:text="${#numbers.formatDecimal(measure.externalWL != null ? measure.externalWL : 0,0,2)}"></span>
    </td>

    <td th:attr="data-trick-field=|investment|, data-trick-field-type=|double|"
        th:data-trick-min-value="0"
        th:title="${(measure.investment != null ? measure.investment : 0) * 0.001}"
        th:onclick="|return editField(this);|">
      <span th:text="${#numbers.formatDecimal(((measure.investment != null ? measure.investment : 0) * 0.001),0,0)}"></span>
    </td>

    <td th:attr="data-trick-field=|lifetime|, data-trick-field-type=|double|"
        th:data-trick-min-value="0"
        th:onclick="|return editField(this);|">
  <span th:text="${#numbers.formatDecimal(measure.lifetime != null ? measure.lifetime : 0,0,2)}"></span>
    </td>

    <td th:attr="data-trick-field=|internalMaintenance|, data-trick-field-type=|double|"
        th:onclick="|return editField(this);|">
  <span th:text="${#numbers.formatDecimal(measure.internalMaintenance != null ? measure.internalMaintenance : 0,0,2)}"></span>
    </td>

    <td th:attr="data-trick-field=|externalMaintenance|, data-trick-field-type=|double|"
        th:onclick="|return editField(this);|">
  <span th:text="${#numbers.formatDecimal(measure.externalMaintenance != null ? measure.externalMaintenance : 0,0,2)}"></span>
    </td>

    <td th:attr="data-trick-field=|recurrentInvestment|, data-trick-field-type=|double|"
        th:title="${(measure.recurrentInvestment != null ? measure.recurrentInvestment : 0) * 0.001}"
        th:onclick="|return editField(this);|">
      <span th:text="${#numbers.formatDecimal(((measure.recurrentInvestment != null ? measure.recurrentInvestment : 0) * 0.001),0,0)}"></span>
    </td>

    <td th:attr="data-trick-field=|phase|, data-trick-field-type=|integer|"
        th:data-trick-callback-pre="extractPhase(this)"
        th:onclick="|return editField(this);|">
      <span th:switch="${measure.phase.number}">
        <span th:case="'0'" th:text="'NA'"></span>
        <span th:default="true" th:text="${measure.phase.number}"></span>
      </span>
    </td>

    <td th:attr="data-trick-field=|importance|, data-trick-field-type=|integer|,
                 data-trick-choose=|1,2,3|,
                 data-trick-choose-translate=|${imp1},${imp2},${imp3}|,
                 data-trick-choose-title=|${titleImp1},${titleImp2},${titleImp3}|"
        th:onclick="|return editField(this);|">
      <span th:switch="${measure.importance}">
        <span th:case="'1'" th:text="${imp1}"></span>
        <span th:case="'2'" th:text="${imp2}"></span>
        <span th:case="'3'" th:text="${imp3}"></span>
      </span>
    </td>

    <td th:attr="data-trick-field=|responsible|, data-trick-field-type=|string|">
      <span th:text="${measure.responsible}"></span>
    </td>

  <td th:if="${standardType != null and (standardType.name == 'NORMAL' or standardType.name == 'ASSET')}"
        th:attr="data-trick-field=|toCheck|, data-trick-content=|text|, data-trick-field-type=|string|">
      <span th:text="${measure.toCheck}"></span>
    </td>

    <td th:attr="data-trick-field=|comment|, data-trick-content=|text|, data-trick-field-type=|string|"
        th:onclick="|return editField(this);|">
      <span th:text="${measure.comment}"></span>
    </td>

    <td th:attr="data-trick-field=|toDo|, data-trick-content=|text|, data-trick-field-type=|string|"
        th:onclick="|return editField(this);|">
      <span th:text="${measure.toDo}"></span>
    </td>
  </tr>
</table>

</th:block>
</body>
</html>
