<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="${#locale.language}">
<head th:replace="template/header :: header">
    <link rel="stylesheet" th:href="@{/css/bootstrap-suggest.css}" />
</head>
<body>
<div id="wrap" class="wrap">
    <!-- Nav Menu -->
    <div th:replace="template/menu :: main-menu"></div>

    <div class="container" data-ug-root="administration">
        <ul class="nav nav-tabs affix affix-top nav-tab">
            <li class="active">
              <a href="#tab-status" data-toggle="tab" th:text="#{label.menu.installation.status}">Status</a>
            </li>
            <li><a href="#tab-user" data-toggle="tab" th:text="#{menu.admin.user}">User</a></li>
            <li><a href="#tab-ids" data-toggle="tab" th:text="#{menu.admin.ids}">IDS</a></li>
            <li><a href="#tab-customer" data-toggle="tab" th:text="#{menu.knowledgebase.customers}">Customers</a></li>
            <li><a href="#tab-analyses" data-toggle="tab" th:text="#{label.analysis.title}">All Analyses</a></li>
            <li><a href="#tab-ts-setting" data-toggle="tab" th:text="#{label.settings}">Settings</a></li>
            <li><a href="#tab-broadcasting" data-toggle="tab" th:text="#{label.administrator.messages}">Messages</a></li>
            <li><a href="#tab-log" data-toggle="tab" th:text="#{label.logs}">Logs</a></li>
        </ul>

        <div class="tab-content" id="tab-container">
            <div th:replace="admin/status :: content"></div>
            <div th:replace="admin/user/users :: content"></div>
            <div th:replace="admin/ids/home :: content"></div>
            <div th:replace="admin/customer/customers :: content"></div>
            <div th:replace="admin/analysis/analyses :: content"></div>
            <div th:replace="admin/tsSetting/home :: content"></div>
            <div th:replace="admin/notification/home :: content"></div>
            <div th:replace="admin/log/home :: content"></div>
            <div th:replace="admin/widget :: content"></div>
            <div th:replace="template/tab-option :: tabOptions"></div>
        </div>
    </div>

    <div th:replace="template/footer :: footer"></div>
</div>

<div th:replace="template/scripts :: scripts"></div>
<script th:src="@{/js/trickservice/administration.js}"></script>
<script th:src="@{/js/trickservice/customer.js}"></script>
<script th:src="@{/js/trickservice/user.js}"></script>
<script th:src="@{/js/trickservice/ids.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap-suggest.js}"></script>
</body>
</html>
