<html>
<head>
<style>
body{
	background-repeat: no-repeat;
}
.title {
	text-align: center;
}

.content {
	background-color: white;
    border-radius: 5px 5px 5px 5px;
    color: #3E3E3E;
    margin: 10px auto;
    padding: 20px;
    width: 400px;
}

h1,h2,h3,h4,h5,h6 {
	color: #4E4E4E;
}
</style>
</head>
<body>
	<div class="content">
	<h2 class="title" >Trick service</h2>
	<h3>Bonjour ${username},</h3>
	<p>Voici le <a
			href="${hostname}">lien</a>
		pour r&eacute;initialiser votre mot de passe.<br />Ce dernier n'est valable que 15 minutes.<br />
		Si vous n'&ecirc;tes pas &agrave; l'origine de cette demande, merci de bien vouloir l'ignorer.
	</p>
	</div>
</body>
</html>