<div class="page-header tab-content-header hidden-xs">
    <div class="container">
        <div class="row-fluid">
            <h3>
                <span th:text="${asset.name} + ' - ' + ${scenario.name}"></span>
            </h3>
        </div>
    </div>
</div>

<span th:text="#{label.status.na}" th:utext="${na}" />
<div class="form-group">
    <table class='table form-no-fill'>
        <thead>
            <tr th:if="${show_uncertainty}">
                <th class="text-center" width="12.5%" th:text="#{label.risk_register.category}"></th>
                <th class="text-center" width="12.5%" th:text="#{label.title.owner}">Owner</th>
                <th class="text-center" width="12.5%" th:text="#{label.title.impact}"></th>
                <th class="text-center" width="12.5%" th:text="#{label.title.likelihood}"></th>
                <th class="text-center" width="12.5%" th:text="#{label.title.uncertainty}"></th>
                <th class='form-estimation form-estimation-left text-center' width="12.5%" th:title="#{label.title.aleo}" th:text="#{label.optimistic}">Optimistic</th>
                <th class="text-center" width="12.5%" th:title="#{label.title.ale}" th:text="#{label.normal.ale}">Normal ALE</th>
                <th class="text-center" width="12.5%" th:title="#{label.title.alep}" th:text="#{label.pessimistic}">Pessimistic</th>
            </tr>
            <tr th:unless="${show_uncertainty}">
                <th class="text-center" width="20%" th:text="#{label.risk_register.category}"></th>
                <th class="text-center" width="20%" th:text="#{label.title.owner}">Owner</th>
                <th class="text-center" width="20%" th:text="#{label.title.impact}"></th>
                <th class="text-center" width="20%" th:text="#{label.title.likelihood}"></th>
                <th class='form-estimation form-estimation-left text-center' width="20%" th:text="#{label.title.ale}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input name="owner" class="form-control" th:value="${assessment.owner}" th:placeholder="${assessment.owner}" data-trick-type="string"/>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon" style="padding: 1px;">
                            <button class="btn btn-default" style="padding: 3px" data-scale-modal="#Scale_Impact">k€</button>
                        </span>
                        <input name="IMPACT" class="form-control" th:value="${impactValue}" list="dataList-parameter-impact" th:placeholder="${impactValue}" data-trick-type="string" th:title="${realImpact}" />
                    </div>
                </td>
                <td>
                    <div class="input-group" align="right">
                        <span class="input-group-addon" style="padding: 1px;">
                            <button class="btn btn-default" style="padding: 3px" data-scale-modal="#Scale_Probability,#DynamicParameters">${probaUnit}</button>
                        </span>
                        <input name="likelihood" class="form-control" th:value="${likelihood.raw}" list="dataList-parameter-probability" th:title="${realValue}" th:placeholder="${rawProba}" data-trick-type="string"/>
                    </div>
                </td>
                <td th:if="${show_uncertainty}">
                    <input name="uncertainty" class="form-control numeric" data-trick-type="double" th:value="${uncertainty}" th:placeholder="${uncertainty}" />
                </td>
                <td class='form-estimation form-estimation-left'>
                    <div class="input-group" th:title="${assessment.ALEO}">
                        <span class="input-group-addon">k€</span>
                        <input name="ALEO" class="form-control numeric" disabled="disabled" th:value="${fct.round(assessment.ALEO * 0.001, 1)}" />
                    </div>
                </td>
                <td>
                    <div class="input-group" th:title="${assessment.ALE}">
                        <span class="input-group-addon">k€</span>
                        <input name="ALE" class="form-control numeric" disabled="disabled" th:value="${fct.round(assessment.ALE * 0.001, 1)}" />
                    </div>
                </td>
                <td>
                    <div class="input-group" th:title="${assessment.ALEP}">
                        <span class="input-group-addon">k€</span>
                        <input name="ALEP" class="form-control numeric" disabled="disabled" th:value="${fct.round(assessment.ALEP * 0.001, 1)}" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class='form-group form-group-fill'>
    <label class='label-control' th:text="#{label.comment}"></label>
    <textarea id="assessment-comment" rows="${rowLength}" class="form-control" name="comment" th:placeholder="${commentContent}" data-trick-type="string" th:value="${commentContent}" style="resize: vertical;"></textarea>
</div>

<div th:if="${showHiddenComment}" class='form-group form-group-fill'>
    <label class='label-control' th:text="#{label.assessment.hidden_comment}"></label>
    <textarea id="assessment-hiddenComment" rows="${rowLength}" class="form-control" name="hiddenComment" th:placeholder="${hiddenCommentContent}" data-trick-type="string" th:value="${hiddenCommentContent}" style="resize: vertical;"></textarea>
</div>
